<div class="menuFixed">
    <ul>
        <li id="box_cart" >
            <div class="cart-popup">
                <div class="icon">
                    <img src="skins/default/images/i-c-1.svg" alt="" /><span class="sl">0</span>
                </div>
                <div class="popup-open"><div class="title"><span class="fa-shopping-basket">Có <strong>0</strong> sản phẩm trong giỏ</span><span class="closez"><i class="fa fa-times"></i></span></div></div>
            </div>
        </li>
        <li class="popup"><a href="/san-pham-thuc-pham-chuc-nang/your_order.html/?do=popup" dnot><img src="skins/default/images/i-c-2.svg" alt="" /><span class="txt">Kiểm tra đơn hàng</span></a></li>
    </ul>
</div>