<div class="menu_mobile">
    <div class="divmm">
        <div class="mmContent">
            <div class="mmMenu">
                <div class="mmTitle">Menu</div>
                <ul class="mmMain">
                    <li class='menu' ><a href="/trang-chu.html" target="_self"    class='current'  >Trang chủ</a></li><li class='menu' ><a href="/ve-chung-toi.html" target="_self"     >Về chúng tôi</a></li><li class='menu' ><a href="/nha-may-boston-pharma.html" target="_self"     >Nhà máy</a></li><li class='menu' ><a href="/san-pham.html" target="_self"     >Sản phẩm</a><ul><li class='active'><a href="/thuoc.html" data-target="menu1" >Thuốc</a><ul><li class='active'><a href="/nhom-giam-dau-khang-viem-chong-phu-ne.html" data-target="menu1" >Nhóm giảm đau, kháng viêm, chống phù nề</a></li>
<li class=''><a href="/nhom-khang-sinh-khang-virus-khang-nam.html" data-target="menu2" >Nhóm Kháng sinh - Kháng Virus - Kháng nấm</a></li>
<li class=''><a href="/nhom-tieu-hoa.html" data-target="menu3" >Nhóm tiêu hóa</a></li>
<li class=''><a href="/nhom-noi-tiet.html" data-target="menu4" >Nhóm nội tiết</a></li>
<li class=''><a href="/nhom-ho-hap.html" data-target="menu5" >Nhóm hô hấp</a></li>
<li class=''><a href="/thuoc.html" data-target="menu6" >Xem tất cả </a></li>
</ul></li>
<li class=''><a href="/san-pham-thuc-pham-chuc-nang.html" data-target="menu2" >Thực phẩm chức năng</a><ul><li class='active'><a href="/bo-duong-tang-cuong-suc-khoe" data-target="menu1" >BỔ DƯỠNG- TĂNG CƯỜNG SỨC KHỎE</a></li>
<li class=''><a href="/enzyme-tieu-hoa" data-target="menu2" >ENZYME TIÊU HÓA</a></li>
<li class=''><a href="/ho-tro-co-xuong-khop" data-target="menu3" >HỖ TRỢ CƠ XƯƠNG KHỚP</a></li>
<li class=''><a href="/giam-ho-bo-phe" data-target="menu4" >GIẢM HO - BỔ PHẾ</a></li>
<li class=''><a href="/bo-gan-loi-mat-tan-soi" data-target="menu5" >BỔ GAN- LỢI MẬT - TAN SỎI</a></li>
</ul></li>
</ul></li><li class='menu' ><a href="/doi-tac.html" target="_self"     >Đối tác</a></li><li class='menu' ><a href="/tin-tuc.html" target="_self"     >Tin tức</a><ul><li class='active'><a href="/" data-target="menu1" >KHỎE MỖI NGÀY</a></li>
<li class=''><a href="/" data-target="menu2" >HOẠT ĐỘNG CỦA BOSTON</a></li>
<li class=''><a href="/" data-target="menu3" >KHO TÀI LIỆU Y DƯỢC</a></li>
</ul></li><li class='menu' ><a href="/tuyen-dung/chinh-sach-nhan-su.html" target="_self"     >Tuyển dụng</a><ul><li class='active'><a href="/tuyen-dung/chinh-sach-nhan-su.html" data-target="menu1" >Chính sách nhân sự</a><ul><li class='active'><a href="/chinh-sach-tuyen-dung.html" data-target="menu1" >CHÍNH SÁCH TUYỂN DỤNG</a></li>
<li class=''><a href="/dao-tao-va-phat-trien.html" data-target="menu2" >ĐÀO TẠO &amp; PHÁT TRIỂN</a></li>
<li class=''><a href="/moi-truong-lam-viec.html" data-target="menu3" >MÔI TRƯỜNG LÀM VIỆC</a></li>
<li class=''><a href="/tieu-chuan-ung-vien.html" data-target="menu4" >TIÊU CHUẨN ỨNG VIÊN</a></li>
</ul></li>
<li class=''><a href="/tuyen-dung/co-hoi-viec-lam.html" data-target="menu2" >Cơ hội việc làm</a></li>
</ul></li><li class='menu' ><a href="/lien-he.html" target="_self"     >Liên hệ</a></li>
                </ul>
                <div class="mmLanguage">
                    <ul>
                        
                    </ul>
                </div>
            </div>
            <div class="close-mmenu"><i class="fa fa-times"></i></div>
        </div>
        <div class="divmmbg"></div>
    </div>
</div>