<div id="vnt-content">
    <script language="javascript">
        $(document).ready(function () {
            $("#Catform select").change(function () {
                $("#Catform").submit();
            });
            $("#Catform select#catID").change(function () {
                $("#Catform select#subcatID").val("");
                $("#Catform").submit();
            });
        });
    </script>
    <div class="vnt-main-top">
        <div class="vnt-slide">
            <div id="vnt-slide" class="slick-init">
                <div class="item">
                    <div class="img" style="background-image: url(vnt_upload/weblink/slide_6.jpg);"></div>
                </div>
            </div>
            <div class="vnt-caption">
                <h2 class="fTitle">Sản phẩm</h2>
            </div>
        </div>
    </div>
    <div class="wrapCont">
        <div class="wrapper">
            <div class="dessMedicine">
                Boston Pharma sản xuất và phân phối các sản phẩm dược phẩm, thực phẩm chức năng... có chất lượng và độ an toàn ngang bằng với hàng ngoại nhập khu vực Âu - Mỹ thông qua việc áp dụng nghiêm ngặt các tiêu chí. Hiên tại sản phẩm
                của Boston Pharma thuộc 10 nhóm điều trị với gần 100 loại được phân phối rộng khắp toàn quốc.
            </div>
            <div class="vnt-medicine">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-12">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-giam-dau-khang-viem-chong-phu-ne.html" style="background-image: url(vnt_upload/medicine/09_2020/PARALMAX_EXTRA.png);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-giam-dau-khang-viem-chong-phu-ne.html">Nhóm giảm đau, kháng viêm, chống phù nề</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/thuoc-khang-viem-khong-steroid.html">THUỐC KHÁNG VIÊM KHÔNG STEROID</a></li>

                                        <li><a href="/vn/thuoc-giam-dau-va-ha-sot-chua-paracetamol.html">THUỐC GIẢM ĐAU VÀ HẠ SỐT CHỨA PARACETAMOL</a></li>

                                        <li><a href="/vn/enzyme-chong-phu-ne.html">ENZYME CHỐNG PHÙ NỀ</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-giam-dau-khang-viem-chong-phu-ne.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-13">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-khang-sinh-khang-virus-khang-nam.html" style="background-image: url(vnt_upload/medicine/09_2020/BOSGYNO_VI.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-khang-sinh-khang-virus-khang-nam.html">Nhóm Kháng sinh - Kháng virus - Kháng nấm</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/khang-nam.html">KHÁNG NẤM</a></li>

                                        <li><a href="/vn/thuoc-khang-virus.html">THUỐC KHÁNG VIRUS</a></li>

                                        <li><a href="/vn/thuoc-khang-sinh.html">THUỐC KHÁNG SINH</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-khang-sinh-khang-virus-khang-nam.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-2">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-tieu-hoa.html" style="background-image: url(vnt_upload/medicine/09_2020/OMERAZ_20.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-tieu-hoa.html">Nhóm tiêu hóa</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/h-tro-tieu-hoa.html">HỖ TRỢ TIÊU HÓA</a></li>

                                        <li><a href="/vn/thuoc-chong-non-1575367081.html">THUỐC CHỐNG NÔN</a></li>

                                        <li><a href="/vn/thuoc-tri-tieu-chay-1575367109.html">THUỐC TRỊ TIÊU CHẢY</a></li>

                                        <li><a href="/vn/thuoc-tri-loet-da-day-1575367098.html">THUỐC TRỊ LOÉT DẠ DÀY</a></li>

                                        <li><a href="/vn/thuoc-chong-co-that-1575367061.html">THUỐC CHỐNG CO THẮT</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-tieu-hoa.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-19">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-chong-di-ung.html" style="background-image: url(vnt_upload/medicine/09_2020/bostanex_vien.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-chong-di-ung.html">Nhóm chống dị ứng</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/thuoc-chong-di-ung.html">THUỐC CHỐNG DỊ ỨNG</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-chong-di-ung.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-4">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-noi-tiet.html" style="background-image: url(vnt_upload/medicine/09_2020/PREDNISOLONE_BOSTON_new.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-noi-tiet.html">Nhóm nội tiết</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/thuoc-chua-corticoid.html">THUỐC CHỨA CORTICOID</a></li>

                                        <li><a href="/vn/thuoc-tri-dai-thao-duong.html">THUỐC TRỊ ĐÁI THÁO ĐƯỜNG</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-noi-tiet.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-3">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-ho-hap.html" style="background-image: url(vnt_upload/medicine/09_2020/ACETYLCYSTEIN_BOSTON_200.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-ho-hap.html">Nhóm hô hấp</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/thuoc-tri-ho-long-dom.html">THUỐC TRỊ HO - LONG ĐỜM</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-ho-hap.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-1">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-tim-mach.html" style="background-image: url(vnt_upload/medicine/09_2020/AMLOBOSTONAA.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-tim-mach.html">Nhóm tim mạch</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/thuoc-chong-dau-that-nguc.html">THUỐC CHỐNG ĐAU THẮT NGỰC</a></li>

                                        <li><a href="/vn/thuoc-chong-non.html">THUỐC HẠ HUYẾT ÁP - ĐIỀU TRỊ SUY TIM</a></li>

                                        <li><a href="/vn/thuoc-chong-co-that.html">THUỐC CHỐNG KẾT TẬP TIỂU CẦU</a></li>

                                        <li><a href="/vn/thuoc-tri-loet-da-day.html">THUỐC HẠ LIPID MÁU</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-tim-mach.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-10">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-than-kinh.html" style="background-image: url(vnt_upload/medicine/09_2020/PIROTON_400_800.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-than-kinh.html">Nhóm thần kinh</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/thuoc-an-than-gay-ngu.html">THUỐC AN THẦN GÂY NGỦ</a></li>

                                        <li><a href="/vn/thuoc-kich-thich-than-kinh-va-hung-tri.html">THUỐC KÍCH THÍCH THẦN KINH VÀ HƯNG TRÍ</a></li>

                                        <li><a href="/vn/thuoc-dieu-tri-dong-kinh-giam-dau-than-kinh.html">THUỐC ĐIỀU TRỊ ĐỘNG KINH, GIẢM ĐAU THẦN KINH</a></li>

                                        <li><a href="/vn/thuoc-chong-loan-than.html">THUỐC CHỐNG LOẠN THẦN</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-than-kinh.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-16">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-co-xuong-khop.html" style="background-image: url(vnt_upload/medicine/09_2020/9PHILL_CLONESTYLa.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-co-xuong-khop.html">Nhóm cơ xương khớp</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/thuoc-lam-giam-thoai-hoa-khop-goi.html">THUỐC LÀM GIẢM THOÁI HÓA KHỚP GỐI</a></li>

                                        <li><a href="/vn/thuoc-gian-co.html">THUỐC GIÃN CƠ</a></li>

                                        <li><a href="/vn/thuoc-chong-loang-xuong.html">THUỐC CHỐNG LOÃNG XƯƠNG</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-co-xuong-khop.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-11">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-vitamin-va-khoang-chat.html" style="background-image: url(vnt_upload/medicine/09_2020/10BOSTON_C_1000AA.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-vitamin-va-khoang-chat.html">Nhóm vitamin và khoáng chất</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/vitamin-khoang-chat.html">VITAMIN &amp; KHOÁNG CHẤT</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-vitamin-va-khoang-chat.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-17">
                        <div class="medicine">
                            <div class="img"><a href="/vn/san-pham-thuc-pham-chuc-nang.html.html" style="background-image: url(vnt_upload/medicine/09_2020/11TOCOMAX_vi_xe.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/san-pham-thuc-pham-chuc-nang.html.html">Thực phẩm chức năng</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul>
                                        <li><a href="/vn/ho-tro-co-xuong-khop.html.html">HỖ TRỢ CƠ XƯƠNG KHỚP</a></li>

                                        <li><a href="/vn/bo-gan-loi-mat-tan-soi.html.html.html">BỔ GAN - LỢI MẬT - TAN SỎI</a></li>

                                        <li><a href="/vn/giam-ho-bo-phe.html.html">GIẢM HO - BỔ PHẾ</a></li>

                                        <li><a href="/vn/ho-tro-tieu-hoa.html.html">HỖ TRỢ TIÊU HÓA - PROBIOTICS</a></li>

                                        <li><a href="/vn/bo-duong-tang-cuong-suc-khoe.html.html">BỔ DƯỠNG &amp; TĂNG CƯỜNG SỨC KHỎE</a></li>
                                    </ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/san-pham-thuc-pham-chuc-nang.html.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cat-14">
                        <div class="medicine">
                            <div class="img"><a href="/vn/nhom-thuoc-xuat-khau.html" style="background-image: url(vnt_upload/medicine/12_2019/NHOM_THUOC_KHAC.jpg);"></a></div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/nhom-thuoc-xuat-khau.html">Nhóm thuốc khác</a></h3>
                                </div>
                                <div class="listMenu">
                                    <ul></ul>
                                </div>
                                <div class="link">
                                    <a href="/vn/nhom-thuoc-xuat-khau.html"><span>Xem tất cả</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
