<div id="vnt-content">
    <div id="vnt-slide-home" class="slick-init">
        <div class="item">
            <div class="img" style="background-image: url(vnt_upload/weblink/banner_1.png);"></div>
            <div class="caption">
                <div class="wrapper">
                    <div class="t1">KHỎE TỪ BÊN TRONG</div>
                    <div class="t2">Giải pháp tăng cường hệ miễn dịch mùa dịch COVID19&#33;</div>
                    <div class="link">
                        <a href="/bo-duong-tang-cuong-suc-khoe" target="_blank"><span>Khám phá</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="img" style="background-image: url(vnt_upload/weblink/slide_8.jpg);"></div>
            <div class="caption">
                <div class="wrapper">
                    <div class="t1">Chất lượng hàng đầu</div>
                    <div class="t2">Boston Pharma không ngừng nỗ lực nghiên cứu và cải tiến chất lượng thuốc vì sức khỏe cộng đồng.</div>
                    <div class="link">
                        <a href="http://www.bostonpharma.com.vn/vn/boston-pharma-kien-tao-cong-dong-song-khoe.html" target="_blank"><span>Khám phá</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="img" style="background-image: url(vnt_upload/weblink/banner2.jpg);"></div>
            <div class="caption">
                <div class="wrapper">
                    <div class="t1">CHẤT LƯỢNG HÀNG ĐẦU</div>
                    <div class="t2">Boston Pharma không ngừng nỗ lực nghiên cứu và cải tiến chất lượng thuốc vì sức khỏe cộng đồng.</div>
                    <div class="link">
                        <a href="http://www.bostonpharma.com.vn/vn/boston-pharma-kien-tao-cong-dong-song-khoe.html" target="_blank"><span>Khám phá</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="img" style="background-image: url(vnt_upload/weblink/banner_2.png);"></div>
            <div class="caption">
                <div class="wrapper">
                    <div class="t1">CHẤT LƯỢNG HÀNG ĐẦU</div>
                    <div class="t2">Boston Pharma không ngừng nỗ lực nghiên cứu và cải tiến chất lượng thuốc vì sức khỏe cộng đồng.</div>
                    <div class="link">
                        <a href="http://www.bostonpharma.com.vn/vn/boston-pharma-kien-tao-cong-dong-song-khoe.html" target="_blank"><span>Khám phá</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inventHome">
        <div class="wrapper">
            <div class="title">Kiến tạo cộng đồng sống khỏe</div>

            <div class="des">Trong những năm qua, Boston Pharma –một trong những &nbsp;công ty Dược phẩm hàng đầu Việt Nam đã, đang và sẽ nghiên cứu, cải tiến chất lượng sản xuất vì sức khỏe cộng đồng.</div>

            <div class="img">
                <div class="grid">
                    <div class="col">
                        <a href=""><img alt="" src="vnt_upload/File/11_2019/p1.jpg" /></a>
                    </div>

                    <div class="col">
                        <a href=""><img alt="" src="vnt_upload/File/11_2019/p2.jpg" /></a>
                    </div>

                    <div class="col">
                        <a href=""><img alt="" src="vnt_upload/File/11_2019/p3.jpg" /></a>
                    </div>

                    <div class="col">
                        <a href=""><img alt="" src="vnt_upload/File/11_2019/p4.jpg" /></a>
                    </div>
                </div>
            </div>

            <div class="link">
                <a href="/ve-chung-toi.html"><span>Tìm hiểu thêm</span></a>
            </div>
        </div>
    </div>
    <div class="designHome" style="background-image: url(vnt_upload/File/Image/bg1.jpg);">
        <div class="wrapper">
            <div class="img hidden-lg hidden-md"><img src="vnt_upload/File/Image/bg1.jpg" alt="" /></div>
            <div class="box">
                <div class="item v1">
                    <div class="num"><span class="count">13</span></div>

                    <div class="text">năm thành lập</div>

                    <div class="des">Hình thành và phát triển không ngừng</div>
                </div>

                <div class="item v2">
                    <div class="num"><span class="count">184</span></div>

                    <div class="text">loại dược phẩm</div>

                    <div class="des">Chất lượng không thua kém hàng ngoại nhập</div>
                </div>

                <div class="item v3">
                    <div class="num">550</div>

                    <div class="text">nhân sự</div>

                    <div class="des">Nhân viên yêu nghề và có chuyên môn cao</div>
                </div>

                <div class="item v4">
                    <div class="num"><span class="count">1</span> tỷ</div>

                    <div class="text">đơn vị mỗi năm</div>

                    <div class="des">Công suất sản xuất ổn định và luôn tăng trưởng</div>
                </div>

                <div class="line_data">
                    <div class="line v1"><span>&nbsp;</span></div>

                    <div class="line v2"><span>&nbsp;</span></div>

                    <div class="line v3"><span>&nbsp;</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="categoryHome">
        <div class="category">
            <div class="img"><a href="" style="background-image: url(vnt_upload/File/Image/ser1.jpg);"></a></div>
            <div class="caption">
                <div class="icon"><img src="vnt_upload/File/Image/i_a_1.svg" alt="" /></div>
                <div class="tend">
                    <h3><a href="/thuoc.html">Thuốc</a></h3>
                </div>
                <div class="link">
                    <a href="/thuoc.html"><span>Tìm hiểu thêm</span></a>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="img"><a href="" style="background-image: url(vnt_upload/File/Image/ser2.jpg);"></a></div>
            <div class="caption">
                <div class="icon"><img src="vnt_upload/File/Image/i_a_2.svg" alt="" /></div>
                <div class="tend">
                    <h3><a href="/san-pham-thuc-pham-chuc-nang.html">Thực phẩm chức năng</a></h3>
                </div>
                <div class="link">
                    <a href="/san-pham-thuc-pham-chuc-nang.html"><span>Tìm hiểu thêm</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="adsHome">
        <div class="wrapper">
            <div class="grid">
                <div class="col">
                    <div class="title">
                        Hợp tác sáng tạo<br />
                        làm chúng tôi khác biệt
                    </div>

                    <div class="des">
                        Với tiêu chí xây dựng mối quan hệ đối tác vững mạnh, mô hình hợp tác độc đáo, chúng tôi cam kết &nbsp;mang đến cho bạn một cơ hội kinh doanh tuyệt vời song hành cùng sứ mệnh chăm sóc sức khỏe cộng đồng.
                    </div>

                    <div class="link">
                        <a href="/doi-tac.html"><span>Tìm hiểu thêm</span></a>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="caption">
                            <div class="txt">Công nghệ Hoa Kỳ, Nguyên liệu Âu - Mỹ</div>

                            <div class="img"><img alt="" src="vnt_upload/File/11_2019/i_b_1.svg" /></div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="caption">
                            <div class="txt">Quy trình đạt chuẩn GMP - WHO</div>

                            <div class="img"><img alt="" src="vnt_upload/File/11_2019/i_b_2.svg" /></div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="caption">
                            <div class="txt">Hệ thống quản lý, vận hành thông minh, chuyên nghiệp</div>

                            <div class="img"><img alt="" src="vnt_upload/File/11_2019/i_b_3.svg" /></div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="caption">
                            <div class="txt">Nhân lực có trình độ chuyên môn cao</div>

                            <div class="img"><img alt="" src="vnt_upload/File/11_2019/i_b_4.svg" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="videoHome">
        <a href="https://www.youtube.com/watch?v=n-_0nYvbzeQ&feature=emb_logo" data-fancybox><img src="vnt_upload/File/Image/video.jpg" alt="" /></a>
    </div>
    <div class="newsHome">
        <div class="wrapper">
            <div class="title"><h2></h2></div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="newsS">
                            <div class="img">
                                <a href="/lam-the-nao-de-tranh-con-dot-quy-xay-ra.html" title="LÀM THẾ NÀO ĐỂ TRÁNH CƠN ĐỘT QUỴ XẢY RA"><img src="vnt_upload/news/12_2020/Dot_nguy.png" alt="LÀM THẾ NÀO ĐỂ TRÁNH CƠN ĐỘT QUỴ XẢY RA" /></a>
                                <div class="date">
                                    <div class="day">12</div>
                                    <div class="monyear">12-2020</div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a class="color" itemprop="url" href="/lam-the-nao-de-tranh-con-dot-quy-xay-ra.html" title="LÀM THẾ NÀO ĐỂ TRÁNH CƠN ĐỘT QUỴ XẢY RA">LÀM THẾ NÀO ĐỂ TRÁNH CƠN ĐỘT QUỴ XẢY RA</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="news">
                            <div class="img">
                                <a
                                    href="/boston-pharma-tai-le-trao-hoc-bong-cho-sinh-vien-khoa-duoc-dai-hoc-y-duoc-tp-hcm-nam-hoc-2020-2021.html"
                                    title="Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021"
                                >
                                    <img src="vnt_upload/news/11_2020/a96ad0c5a09c51c2088d.jpg" alt="Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021" />
                                </a>
                                <div class="date">
                                    <div class="day">19</div>
                                    <div class="monyear">11-2020</div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3>
                                        <a
                                            href="/boston-pharma-tai-le-trao-hoc-bong-cho-sinh-vien-khoa-duoc-dai-hoc-y-duoc-tp-hcm-nam-hoc-2020-2021.html"
                                            title="Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021"
                                        >
                                            Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="news">
                            <div class="img">
                                <a href="/the-nao-la-an-uong-lanh-manh.html" title="THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?"><img src="vnt_upload/news/11_2020/the_nao_la_an_uong_lanh_manh.png" alt="THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?" /></a>
                                <div class="date">
                                    <div class="day">16</div>
                                    <div class="monyear">11-2020</div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/the-nao-la-an-uong-lanh-manh.html" title="THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?">THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?</a></h3>
                                </div>
                            </div>
                        </div>

                        <div class="news">
                            <div class="img">
                                <a href="/cam-cum-va-cach-dieu-tri.html" title="CẢM CÚM VÀ CÁCH ĐIỀU TRỊ"><img src="vnt_upload/news/10_2020/PARALMAX_CAM_CUM_01.png" alt="CẢM CÚM VÀ CÁCH ĐIỀU TRỊ" /></a>
                                <div class="date">
                                    <div class="day">12</div>
                                    <div class="monyear">11-2020</div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/cam-cum-va-cach-dieu-tri.html" title="CẢM CÚM VÀ CÁCH ĐIỀU TRỊ">CẢM CÚM VÀ CÁCH ĐIỀU TRỊ</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="linkAll text-center">
                <a href="/tin-tuc.html"><span>Tìm hiểu thêm</span></a>
            </div>
        </div>
    </div>
    <div class="productHome">
        <div class="wrapper">
            <div class="title"><h2>SẢN PHẨM NỔI BẬT</h2></div>
            <div class="content">
                <div id="slideProduct" class="slick-init">
                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/enaboston-20-plus.html" title="Enaboston 20 Plus"><img src="vnt_upload/medicine/01_2020/ENABOSTON20_PLUS.jpg" alt="Enaboston 20 Plus" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/enaboston-20-plus.html" title="Enaboston 20 Plus">Enaboston 20 Plus</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/cefalex-500.html" title="Cefalex 500"><img src="vnt_upload/medicine/05_2020/CEFALEX_500.jpg" alt="Cefalex 500" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/cefalex-500.html" title="Cefalex 500">Cefalex 500</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/bostacet.html" title="Bostacet"><img src="vnt_upload/medicine/12_2019/BOSTACETaaaa.jpg" alt="Bostacet" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/bostacet.html" title="Bostacet">Bostacet</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/paralmax-extra.html" title="Paralmax Extra"><img src="vnt_upload/medicine/12_2019/PARALMAX_EXTRAaaaa.jpg" alt="Paralmax Extra" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/paralmax-extra.html" title="Paralmax Extra">Paralmax Extra</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/paralmax-cam-cum.html" title="Paralmax Cảm cúm"><img src="vnt_upload/medicine/12_2019/PARALMAX_CAM_CUM.jpg" alt="Paralmax Cảm cúm" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/paralmax-cam-cum.html" title="Paralmax Cảm cúm">Paralmax Cảm cúm</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/omeraz-20-chai-.html" title="Omeraz 20 (chai)"><img src="vnt_upload/medicine/12_2019/OMERAZ_CHAI.jpg" alt="Omeraz 20 (chai)" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/omeraz-20-chai-.html" title="Omeraz 20 (chai)">Omeraz 20 (chai)</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/bosgyno-vien-nen-dat-am-dao.html" title="Bosgyno (viên nén đặt âm đạo)"><img src="vnt_upload/medicine/01_2020/BOSGYNO_VI.jpg" alt="Bosgyno (viên nén đặt âm đạo)" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/bosgyno-vien-nen-dat-am-dao.html" title="Bosgyno (viên nén đặt âm đạo)">Bosgyno (viên nén đặt âm đạo)</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/paralmax-pain.html" title="Paralmax Pain"><img src="vnt_upload/medicine/12_2019/PARALMAX_PAINaaaa.jpg" alt="Paralmax Pain" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/paralmax-pain.html" title="Paralmax Pain">Paralmax Pain</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/philclonestyl.html" title="Philclonestyl"><img src="vnt_upload/medicine/12_2019/PHILL_CLONESTYLa.jpg" alt="Philclonestyl" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/philclonestyl.html" title="Philclonestyl">Philclonestyl</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/boston-c-1000.html" title="Boston C 1000"><img src="vnt_upload/medicine/12_2019/BOSTON_C_1000AA.jpg" alt="Boston C 1000" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/boston-c-1000.html" title="Boston C 1000">Boston C 1000</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/otibone-750.html" title="OTIBONE 750"><img src="vnt_upload/medicine/02_2020/OTIBONE_750_2.jpg" alt="OTIBONE 750" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/otibone-750.html" title="OTIBONE 750">OTIBONE 750</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/prednisolon-boston.html" title="Prednisolon Boston"><img src="vnt_upload/medicine/04_2020/PREDNISOLONE_BOSTON_new.jpg" alt="Prednisolon Boston" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/prednisolon-boston.html" title="Prednisolon Boston">Prednisolon Boston</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/paralmax.html" title="Paralmax"><img src="vnt_upload/medicine/12_2019/PARALMAX_moiaaa.jpg" alt="Paralmax" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/paralmax.html" title="Paralmax">Paralmax</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/bostolox-suspension.html" title="Bostolox Suspension"><img src="vnt_upload/medicine/12_2019/BOSTOLOX_SUSPENSION.jpg" alt="Bostolox Suspension" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/bostolox-suspension.html" title="Bostolox Suspension">Bostolox Suspension</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/bostolox-100.html" title="Bostolox 100"><img src="vnt_upload/medicine/12_2019/BOSTOLOX_100.jpg" alt="Bostolox 100" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/bostolox-100.html" title="Bostolox 100">Bostolox 100</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/bostocef-300.html" title="Bostocef 300"><img src="vnt_upload/medicine/12_2019/BOSTOCEF_300.jpg" alt="Bostocef 300" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/bostocef-300.html" title="Bostocef 300">Bostocef 300</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="img">
                                <a href="/effer-bostacet-1599640764.html" title="Effer Bostacet"><img src="vnt_upload/medicine/09_2020/EFFER_BOSTACETWEB.jpg" alt="Effer Bostacet" /></a>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/effer-bostacet-1599640764.html" title="Effer Bostacet">Effer Bostacet</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===BEGIN LOADING PAGE===-->
    <div class="vnt-loading">
        <div class="img">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 214.9 115.5" style="enable-background: new 0 0 214.9 115.5;" xml:space="preserve">
                <g>
                    <path
                        class="st1"
                        d="M10.5,106.1c-0.5-0.1-0.7-0.2-0.7-0.3s0.1-0.1,0.2-0.2l0.5-0.4c1.1-0.7,1.7-1.8,1.7-3.1c0-1.3-0.5-2.3-1.6-3
                        c-1-0.7-2.5-1.1-4.3-1.1c-0.4,0-0.9,0-1.3,0H3.5c-0.3,0-0.8,0-1.4,0c-0.4,0-0.7,0-1,0c-0.3,0-0.5,0-0.6,0C0.2,98,0,98.1,0,98.3
                        s0.2,0.3,0.5,0.3c0.7,0,1.2,0.3,1.5,0.8s0.5,1.3,0.5,2.4v9.7c0,0.8,0,1.6-0.1,2.3c-0.2,0.7-0.6,1.1-1.3,1.2
                        c-0.3,0.1-0.4,0.2-0.4,0.3c0,0.2,0.2,0.3,0.4,0.3c0.1,0,0.4,0,0.8-0.1c0.3-0.1,0.6-0.1,1-0.1c0.4,0,0.9,0.1,1.6,0.1l1,0.1h1.2h1
                        c1.7,0,3.2-0.5,4.3-1.5s1.7-2.3,1.7-3.8c0-1-0.3-1.9-0.9-2.7C12.2,106.8,11.4,106.3,10.5,106.1z M4.5,99.9c0-0.5,0.1-0.8,0.3-1
                        c0.1-0.1,0.5-0.2,1.1-0.2c1.3,0,2.4,0.4,3.3,1.2c0.9,0.8,1.3,1.7,1.3,2.9c0,1.9-1,2.8-3.1,2.8H5.3c-0.4,0-0.6,0-0.7-0.2
                        c-0.1,0-0.1-0.2-0.1-0.5V99.9z M10.8,113.9c-0.8,0.7-1.8,1-3.1,1c-1.1,0-1.8,0-2.3-0.2s-0.8-0.4-0.9-0.8l-0.1-0.5v-0.6V107
                        c0-0.2,0-0.3,0.1-0.4c0.1-0.1,0.3-0.1,0.6-0.1v0.2h2.6c1.2,0,2.2,0.4,3,1.2c0.8,0.8,1.2,1.8,1.2,3.1S11.5,113.2,10.8,113.9z"
                    />
                    <path
                        class="st1"
                        d="M24.6,97.8c-1.2,0-2.5,0.3-3.6,0.9c-1.2,0.5-2.2,1.1-3,1.9c-0.8,0.7-1.4,1.7-1.8,2.8
                        c-0.5,1.1-0.7,2.3-0.7,3.4c0,2.6,0.8,4.8,2.5,6.4c1.6,1.6,3.8,2.4,6.5,2.4s4.8-0.9,6.5-2.6s2.5-3.9,2.5-6.6c0-2.5-0.8-4.6-2.5-6.2
                        C29.3,98.6,27.2,97.8,24.6,97.8z M29.9,112.8c-1.3,1.4-2.9,2.1-4.8,2.1c-2.2,0-3.9-0.9-5.4-2.6c-1.5-1.8-2.2-3.9-2.2-6.4
                        c0-2.2,0.6-4,1.7-5.3c1.1-1.3,2.7-2,4.6-2c2.3,0,4.1,0.9,5.7,2.6c1.5,1.6,2.3,3.7,2.3,6.2C31.8,109.6,31.2,111.4,29.9,112.8z"
                    />
                    <path
                        class="st1"
                        d="M41.9,105.4c-1.6-0.5-2.6-0.9-3-1.1c-0.4-0.2-0.8-0.6-1.1-1c-0.4-0.5-0.6-1.1-0.6-1.8c0-0.8,0.3-1.5,0.9-2
                        c0.6-0.5,1.3-0.8,2.2-0.8c1.2,0,2.2,0.3,3.1,0.9c0.9,0.6,1.5,1.3,1.8,2.2c0.1,0.4,0.3,0.6,0.4,0.6c0.2,0,0.3-0.1,0.3-0.4
                        c0-0.1-0.1-0.2-0.1-0.5l-0.2-1.3c-0.1-0.7-0.2-1.2-0.2-1.3c0-0.4-0.1-0.6-0.3-0.6L45,98.4l-0.2,0.1c-0.1,0.1-0.2,0.1-0.3,0.1
                        c0,0-0.1,0-0.2,0l-0.9-0.4c-0.7-0.3-1.4-0.4-2.3-0.4c-1.6,0-2.9,0.4-3.7,1.5c-1,0.9-1.5,2-1.5,3.3c0,1.2,0.4,2.1,1.2,2.9
                        c0.7,0.8,2.1,1.5,3.9,2.1c1.7,0.6,2.8,1.1,3.2,1.4c0.7,0.6,1.1,1.4,1.1,2.3c0,1-0.4,1.8-1.2,2.5c-0.8,0.7-1.8,1-2.9,1
                        c-1.1,0-2.1-0.4-3.1-1.1s-1.6-1.6-1.9-2.6c-0.1-0.4-0.2-0.6-0.4-0.6s-0.3,0.1-0.3,0.4s0.1,0.8,0.3,1.6c0.2,0.7,0.3,1,0.3,1.1
                        c0.1,0.5,0.2,0.8,0.2,0.9c0,0.1,0.2,0.2,0.3,0.3c0.4,0.2,0.9,0.4,1.7,0.6s1.5,0.3,2.1,0.3c1.8,0,3.3-0.5,4.4-1.5
                        c1.1-1,1.7-2.2,1.7-3.8C46.5,108.1,45,106.4,41.9,105.4z"
                    />
                    <path
                        class="st1"
                        d="M63.1,99.1c0-0.5,0-0.8-0.1-0.9c-0.1-0.1-0.3-0.1-0.8-0.1H48.7c-0.3,0-0.5,0.1-0.6,0.2
                        C48,98.5,48,98.7,48,99.1c0,0.4-0.1,0.9-0.2,1.5c-0.2,0.5-0.2,0.8-0.2,1c0,0.2,0.1,0.3,0.2,0.3c0.1,0,0.2-0.2,0.3-0.5
                        c0.2-0.7,0.4-1.2,0.7-1.5c0.3-0.3,0.8-0.4,1.5-0.4h3.3c0.3,0,0.5,0,0.6,0.1c0.1,0.1,0.1,0.3,0.1,0.6v0.3v12.4
                        c0,0.7-0.1,1.2-0.3,1.5c-0.2,0.2-0.7,0.4-1.3,0.5c-0.3,0-0.4,0.1-0.4,0.2c0,0.2,0.2,0.3,0.4,0.3c0,0,0.3,0,0.8-0.1
                        c0.3,0,0.5,0,0.9,0h1h0.9c0.6,0,0.9,0,1.1,0c0.3,0.1,0.5,0.1,0.6,0.1c0.3,0,0.4-0.1,0.4-0.3s-0.1-0.3-0.4-0.3
                        c-1-0.1-1.6-0.7-1.6-1.7v-0.5v-12.3c0-0.4,0-0.6,0.1-0.7c0.1,0,0.3-0.1,0.7-0.1h3.5c0.7,0,1.2,0,1.5,0.1c0.2,0.2,0.4,0.6,0.5,1.2
                        c0.1,0.3,0.2,0.4,0.3,0.4c0.2,0,0.3-0.2,0.3-0.4c0-0.1-0.1-0.3-0.1-0.6C63.1,99.9,63.1,99.6,63.1,99.1z"
                    />
                    <path
                        class="st1"
                        d="M72.9,97.8c-1.2,0-2.4,0.3-3.6,0.9c-1.2,0.5-2.2,1.1-3,1.9c-0.8,0.7-1.4,1.7-1.8,2.8
                        c-0.5,1.1-0.7,2.3-0.7,3.4c0,2.6,0.8,4.8,2.5,6.4c1.6,1.6,3.8,2.4,6.5,2.4c2.7,0,4.8-0.9,6.5-2.6c1.7-1.7,2.5-3.9,2.5-6.6
                        c0-2.5-0.8-4.6-2.5-6.2C77.6,98.6,75.5,97.8,72.9,97.8z M78.2,112.8c-1.3,1.4-2.9,2.1-4.8,2.1c-2.2,0-3.9-0.9-5.4-2.6
                        c-1.5-1.8-2.2-3.9-2.2-6.4c0-2.2,0.6-4,1.7-5.3c1.1-1.3,2.7-2,4.6-2c2.3,0,4.2,0.9,5.7,2.6c1.5,1.6,2.3,3.7,2.3,6.2
                        C80.1,109.6,79.5,111.4,78.2,112.8z"
                    />
                    <path
                        class="st1"
                        d="M99.9,97.9c-0.1,0-0.3,0-0.6,0.1c-0.3,0.1-0.7,0.1-1.2,0.1c-1,0-1.7,0-2.3-0.1c-0.2,0-0.4,0-0.5,0
                        c-0.3,0-0.4,0-0.4,0.2s0.2,0.3,0.4,0.3c0.9,0.2,1.5,0.4,1.8,0.7c0.3,0.3,0.5,0.8,0.6,1.5l0.2,2.9v1.7v6.2c0,0.1,0,0.2-0.1,0.2
                        c0,0-0.1-0.1-0.3-0.3L86,98.4c-0.2-0.3-0.4-0.4-0.6-0.4c-0.1,0-0.3,0-0.5,0h-0.2h-0.8h-0.5c-0.1,0-0.2,0-0.2,0
                        c-0.2,0-0.3,0-0.3,0.2s0.1,0.3,0.3,0.3c0.9,0.1,1.5,0.6,2,1.4c0.5,0.8,0.7,2,0.7,3.4v8.5c0,0.9-0.2,1.6-0.4,2
                        c-0.2,0.4-0.7,0.8-1.4,1c-0.3,0.1-0.4,0.2-0.4,0.3c0.1,0.1,0.2,0.2,0.4,0.2c0.1,0,0.3,0,0.5,0c0.3-0.1,0.6-0.1,0.9-0.1h0.6
                        l1.3,0.1c0.6,0.1,1,0.1,1.1,0.1c0.2,0,0.3,0,0.4,0c0.2,0,0.3,0,0.3-0.2s-0.1-0.3-0.4-0.3c-0.6-0.1-1.1-0.3-1.3-0.5
                        c-0.2-0.2-0.3-0.5-0.4-1.1v-0.9v-0.5v-8.5c0-0.4,0-0.6,0.2-0.6c0.1,0,0.2,0.1,0.2,0.1l0.1,0.1l10.5,12l0.3,0.3
                        c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.3-0.1,0.3-0.3c0.1-0.2,0.1-0.8,0.1-1.7v-10.5l-0.2-0.9v-1.4c0-0.8,0-1.3,0.2-1.6
                        c0.2-0.3,0.5-0.5,1-0.6c0.1,0,0.2-0.1,0.2-0.2C100.2,98,100.1,97.9,99.9,97.9z"
                    />
                    <path
                        class="st1"
                        d="M119.5,99.3c-1-0.9-2.5-1.3-4.2-1.3c-0.3,0-0.8,0.1-1.3,0.1c-1,0.1-1.8,0.1-2.3,0.1c-0.3,0-0.8,0-1.3-0.1
                        c-0.2-0.1-0.4-0.1-0.6-0.1c-0.3,0-0.5,0.1-0.5,0.3s0.1,0.3,0.3,0.3c0.9,0.1,1.4,0.3,1.6,0.8c0.2,0.4,0.3,1.6,0.3,3.3v7.6
                        c0,1.6-0.2,2.8-0.4,3.4c-0.2,0.6-0.6,1-1.3,1.1c-0.3,0-0.4,0.1-0.4,0.3c0,0.1,0.1,0.2,0.3,0.2c0.1,0,0.4-0.1,0.7-0.1
                        c0.2,0,0.6,0,1.1,0h1h0.9c0.6,0,1,0,1.3,0c0.4,0.1,0.7,0.1,0.8,0.1c0.3,0,0.4-0.1,0.4-0.3c0-0.1-0.1-0.2-0.4-0.2
                        c-0.2,0-0.5-0.1-1-0.2c-0.6-0.2-1-0.8-1.1-1.8v-1.1v-1.2v-10.4l-0.1-0.2c0-0.3,0.1-0.6,0.2-0.7c0.1-0.1,0.4-0.2,0.7-0.2
                        c1.5,0,2.7,0.4,3.6,1.2c0.9,0.8,1.4,1.8,1.4,3.1c0,1.1-0.4,1.9-1.1,2.6c-0.7,0.7-1.7,1-2.9,1c-0.4,0-0.7,0-0.9-0.1
                        c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.2,0.1c0,0.2,0.2,0.3,0.6,0.4s0.9,0.2,1.4,0.2c1.1,0,2.2-0.3,3.2-1c1.3-1,2-2.3,2-3.9
                        C121.1,101.2,120.6,100.1,119.5,99.3z"
                    />
                    <path
                        class="st1"
                        d="M139.8,114.9c-0.7,0-1.1-0.3-1.4-0.6c-0.3-0.4-0.4-1-0.4-1.9v-12.1c0-0.4,0.1-0.8,0.3-1.1
                        c0.2-0.4,0.4-0.5,0.7-0.6l0.5-0.1c0.2-0.1,0.3-0.2,0.3-0.3c0-0.1-0.1-0.2-0.3-0.2c-0.1,0-0.3,0.1-0.5,0.1c-0.4,0.1-1,0.1-1.9,0.1
                        c-0.6,0-1.2,0-1.7-0.1c-0.3-0.1-0.6-0.1-0.8-0.1c-0.2,0-0.3,0.1-0.3,0.2c0,0.2,0.2,0.3,0.4,0.3c0.6,0.1,1,0.3,1.2,0.7
                        c0.2,0.3,0.3,0.9,0.3,1.8v4.3c0,0.3,0,0.4-0.1,0.5c-0.1,0.1-0.3,0.1-0.7,0.1H128c-0.5,0-0.8-0.1-1-0.2c-0.1-0.1-0.1-0.4-0.1-0.9
                        v-4.5c0-0.6,0.1-1,0.3-1.3c0.2-0.3,0.5-0.5,1.1-0.6c0.2-0.1,0.3-0.2,0.3-0.3c0-0.2-0.2-0.3-0.4-0.3c-0.1,0-0.3,0-0.5,0
                        c-0.6,0.1-1.1,0.1-1.7,0.1c-0.9,0-1.6,0-2.3-0.1c-0.4-0.1-0.6-0.1-0.8-0.1c-0.2-0.1-0.3,0-0.3,0.2s0.2,0.3,0.4,0.3
                        c0.7,0.2,1.2,0.4,1.5,0.7c0.3,0.3,0.4,0.9,0.4,1.6v10.7c0,1.2-0.1,2-0.2,2.5c-0.2,0.4-0.4,0.7-0.8,0.8l-0.6,0.2
                        c-0.2,0.1-0.3,0.2-0.3,0.3s0.1,0.2,0.3,0.2c0.1,0,0.4-0.1,0.8-0.1c0.3,0,0.6,0,0.8,0h0.8h1.1c0.8,0,1.3,0.1,1.5,0.1
                        c0.3,0.1,0.5,0.1,0.6,0.1c0.3,0,0.4-0.1,0.4-0.3s-0.2-0.3-0.5-0.3c-0.7-0.1-1.2-0.3-1.5-0.7c-0.3-0.3-0.4-0.9-0.4-1.8v-4.6
                        c0-0.4,0.1-0.6,0.2-0.7c0.1-0.1,0.4-0.1,0.9-0.1h7.2c0.5,0,0.7,0,0.8,0.1c0.1,0.1,0.1,0.3,0.1,0.7v4.6v0.5c0,1.2-0.4,1.9-1.3,2.1
                        c-0.2,0.1-0.4,0.2-0.4,0.3c0,0.1,0.1,0.2,0.3,0.2c0.1,0,0.4-0.1,0.9-0.1c0.2,0,0.5,0,0.6,0h0.9h0.9c0.6,0,1,0.1,1.2,0.1
                        c0.3,0.1,0.5,0.1,0.7,0.1c0.2,0,0.3-0.1,0.3-0.3C140.2,115,140.1,114.9,139.8,114.9z"
                    />
                    <path
                        class="st1"
                        d="M158.9,115.1c-0.8-0.2-1.3-0.4-1.6-0.6c-0.3-0.3-0.6-0.9-1-1.9l-0.3-0.7l-5.4-13.8c-0.1-0.3-0.2-0.4-0.3-0.4
                        c-0.2,0-0.3,0.1-0.4,0.4l-6.4,14.3l-0.4,0.8c-0.2,0.4-0.4,0.7-0.7,1.1c-0.3,0.3-0.5,0.5-0.7,0.6l-0.5,0.1
                        c-0.1,0.1-0.2,0.2-0.2,0.3c0,0.1,0.1,0.2,0.3,0.2c0,0,0.3-0.1,0.7-0.1c0.2,0,0.4,0,0.6,0c0.5,0,1,0,1.4,0l1.2,0.1
                        c0.2,0,0.3,0,0.4,0c0.2,0,0.3-0.1,0.3-0.2c0-0.2-0.1-0.3-0.4-0.3c-0.6-0.2-1-0.3-1.2-0.5s-0.3-0.5-0.3-0.9c0-0.4,0.2-1.1,0.6-1.9
                        l0.8-1.8c0.2-0.6,0.5-0.9,0.6-1c0.2-0.2,0.6-0.2,1.2-0.2h4.5c0.4,0,0.7,0,1,0.3c0.1,0.1,0.2,0.3,0.4,0.8l0.6,1.7
                        c0.5,1.3,0.8,2.2,0.8,2.6c0,0.5-0.2,0.8-0.6,0.9l-0.4,0.1c-0.2,0.1-0.3,0.2-0.3,0.3c0,0.2,0.1,0.3,0.3,0.3c0.1,0,0.2-0.1,0.4-0.1
                        c0.3-0.1,1-0.1,2.2-0.1c1.1,0,1.9,0.1,2.3,0.1c0.3,0,0.4,0,0.5,0c0.3,0,0.4-0.1,0.4-0.2C159.3,115.3,159.2,115.1,158.9,115.1z
                         M151.2,106.7h-3.7h-0.3c-0.4,0-0.6-0.1-0.6-0.3c0-0.1,0.1-0.3,0.2-0.4l2.3-4.8c0.1-0.1,0.1-0.2,0.2-0.2s0.2,0.1,0.3,0.4l0.1,0.3
                        l2,4.5l0,0.1c0.1,0.1,0.1,0.2,0.1,0.3C151.8,106.6,151.6,106.7,151.2,106.7z"
                    />

                    <path
                        class="st1"
                        d="M175.5,114.8h-0.4c-0.9,0-1.9-0.8-3-2.4l-0.4-0.6l-3.5-5.1c2.1-1.1,3.1-2.5,3.1-4.5c0-1.4-0.5-2.5-1.5-3.2
                        c-0.9-0.7-2.4-1.1-4.3-1.1c-0.5,0-1.1,0.1-1.8,0.1c-1,0.1-1.6,0.1-2,0.1c-0.4,0-0.8,0-1.1,0c-0.5-0.1-0.8-0.1-0.9-0.1
                        c-0.3,0-0.4,0.1-0.4,0.3s0.1,0.3,0.4,0.3l0.6,0.1c0.9,0.2,1.4,0.9,1.4,2.2v1.3v9c0,1.4-0.1,2.3-0.3,2.8c-0.2,0.5-0.6,0.8-1.3,0.9
                        c-0.2,0-0.3,0.1-0.3,0.2c0,0.2,0.1,0.3,0.3,0.3c0.2,0,0.4,0,0.7,0c0.4-0.1,0.7-0.1,1-0.1h0.7h1.2c0.7,0,1.3,0.1,1.6,0.1
                        c0.3,0.1,0.6,0.1,0.7,0.1c0.3,0,0.4,0,0.4-0.2s-0.2-0.3-0.5-0.3c-0.8,0-1.3-0.2-1.7-0.5c-0.3-0.2-0.4-0.4-0.5-0.7
                        c-0.1-0.3-0.1-0.8-0.1-1.5v-0.5v-3.9c0-0.2,0.1-0.3,0.2-0.4l0.3-0.1h1.7c0.5,0,0.8,0.2,1,0.5l0.2,0.3l3.1,4.7
                        c0.6,0.9,1.2,1.6,1.8,2c0.6,0.4,1.2,0.6,2,0.6c0.4,0,0.8-0.1,1.2-0.2c0.4-0.1,0.6-0.2,0.6-0.3
                        C175.7,114.9,175.7,114.8,175.5,114.8z M165.9,106.4h-1.4c-0.4,0-0.6-0.1-0.8-0.3c-0.1-0.1-0.2-0.3-0.2-0.7v-5.1v-0.4
                        c0-0.4,0.1-0.7,0.3-0.9c0.2-0.1,0.5-0.2,1-0.2c1.4,0,2.4,0.4,3.3,1.2c0.9,0.8,1.3,1.8,1.3,3c0,1.1-0.3,1.9-0.9,2.5
                        C167.9,106.1,167,106.4,165.9,106.4z"
                    />

                    <path
                        class="st1"
                        d="M195.6,114.6c-0.6,0-1.1-0.2-1.3-0.5c-0.2-0.3-0.3-0.8-0.3-1.4l-0.1-1.6l-0.2-6.8l-0.1-3c0-1,0.1-1.7,0.3-2.1
                        c0.2-0.4,0.5-0.7,0.9-0.8l0.5-0.1c0.1,0,0.2-0.1,0.2-0.3c0-0.1,0-0.2-0.2-0.2c-0.1,0-0.2,0-0.4,0c-0.4,0.1-0.8,0.1-1.3,0.1
                        c-0.2,0-0.3,0-0.4,0c-0.3,0-0.4,0-0.5,0c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.2,0.2-0.3,0.5l-5.9,12.6l-0.1,0.3l-0.2,0.3
                        c-0.1,0.1-0.1,0.2-0.2,0.2c0,0-0.1-0.1-0.2-0.3l-0.6-1.3l-5.2-11.2l-0.1-0.3c-0.2-0.5-0.5-0.8-0.9-0.8c-0.2,0-0.3,0-0.5,0
                        c-0.2,0-0.6,0-1.3,0c-0.4,0-0.7,0-0.8,0c-0.2,0-0.3,0-0.4,0c-0.2,0-0.3,0.1-0.3,0.3s0.2,0.3,0.4,0.3c1,0.1,1.6,0.6,2,1.3
                        c0.4,0.7,0.6,1.8,0.6,3.3c0,0.7-0.1,2.4-0.2,5l-0.2,3.6c0,1-0.2,1.8-0.4,2.2c-0.3,0.5-0.7,0.8-1.3,0.9c-0.2,0.1-0.3,0.2-0.3,0.3
                        c0,0.2,0.2,0.3,0.4,0.3c0.1,0,0.2,0,0.4,0c0.5-0.1,1.1-0.1,1.7-0.1c0.5,0,1.3,0,2.2,0.1c0.2,0,0.3,0,0.5,0c0.3,0,0.4-0.1,0.4-0.3
                        s-0.3-0.3-0.8-0.4c-1-0.1-1.5-0.9-1.5-2.4c0-1.6,0-2.6,0-3.1l0.3-6.2l4.7,10.1l0.2,0.5c0.3,0.4,0.4,0.6,0.4,0.7
                        c0.2,0.4,0.4,0.6,0.6,0.6s0.3-0.2,0.5-0.6c0-0.1,0.1-0.3,0.2-0.5c0.2-0.3,0.4-0.8,0.7-1.4c0.7-1.4,1-2.1,1.1-2.3l1.3-2.6l1.1-2.4
                        c0.2-0.5,0.7-1.4,1.4-2.6l0.2,7.8v2c0,0.8-0.1,1.3-0.3,1.6c-0.2,0.3-0.5,0.6-1,0.7c-0.2,0.1-0.3,0.2-0.3,0.3s0.2,0.2,0.4,0.2
                        c0.1,0,0.6-0.1,1.5-0.1c0.5-0.1,0.9-0.1,1.2-0.1c0.3,0,0.7,0,1,0l1,0.1c0.1,0,0.2,0,0.3,0c0.3,0,0.5,0,0.5-0.2
                        C196.3,114.8,196,114.7,195.6,114.6z"
                    />

                    <path
                        class="st1"
                        d="M214.7,115.1c-0.8-0.2-1.3-0.4-1.6-0.6c-0.3-0.3-0.6-0.9-1-1.9l-0.3-0.7l-5.4-13.8c-0.1-0.3-0.2-0.4-0.3-0.4
                        c-0.2,0-0.3,0.1-0.4,0.4l-6.4,14.3l-0.4,0.8c-0.2,0.4-0.4,0.7-0.7,1.1c-0.3,0.3-0.5,0.5-0.7,0.6L197,115c-0.1,0.1-0.2,0.2-0.2,0.3
                        c0,0.1,0.1,0.2,0.3,0.2c0,0,0.3-0.1,0.7-0.1c0.2,0,0.4,0,0.6,0c0.5,0,1,0,1.4,0l1.2,0.1c0.2,0,0.3,0,0.4,0c0.2,0,0.3-0.1,0.3-0.2
                        c0-0.2-0.1-0.3-0.4-0.3c-0.6-0.2-1-0.3-1.2-0.5c-0.2-0.2-0.3-0.5-0.3-0.9c0-0.4,0.2-1.1,0.6-1.9l0.8-1.8c0.2-0.6,0.4-0.9,0.6-1
                        c0.2-0.2,0.6-0.2,1.2-0.2h4.5c0.5,0,0.8,0,1,0.3c0.1,0.1,0.2,0.3,0.4,0.8l0.6,1.7c0.5,1.3,0.8,2.2,0.8,2.6c0,0.5-0.2,0.8-0.6,0.9
                        l-0.4,0.1c-0.2,0.1-0.3,0.2-0.3,0.3c0,0.2,0.1,0.3,0.3,0.3c0.1,0,0.2-0.1,0.4-0.1c0.3-0.1,1-0.1,2.2-0.1c1.1,0,1.9,0.1,2.3,0.1
                        c0.3,0,0.4,0,0.5,0c0.3,0,0.4-0.1,0.4-0.2C215.1,115.3,215,115.1,214.7,115.1z M207.2,107.4h-3.8h-0.3c-0.4,0-0.6-0.1-0.6-0.3
                        c0-0.1,0.1-0.3,0.2-0.5l2.4-5.4c0.1-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.3,0.4l0.1,0.3l2,5v0.1c0.1,0.1,0.1,0.2,0.1,0.3
                        C207.8,107.3,207.6,107.4,207.2,107.4z"
                    />
                </g>
                <g>
                    <polygon class="st2" points="120,62.4 119.8,60.6 103.5,59.1 103.5,57.3 75.1,67.5 74.7,69.7 103.4,61         " />
                    <polygon class="st2" points="120.4,67.3 120.3,65.5 103.4,64.3 103.4,62.5 74.5,70.6 74.1,72.8 103.3,66.3         " />
                    <polygon class="st2" points="119.5,57.6 119.3,55.7 103.5,53.8 103.5,52 75.6,64.5 75.2,66.7 103.4,55.9       " />
                    <path
                        class="st2"
                        d="M150.7,73.4c0.2-0.9,0.4-1.9,0.4-2.9L131,69.6c-2.6,1.3-8.1,0.7-10.2,0.7l-17.4-0.7v-1.8L74,73.7l-0.4,2.2
                        l29.7-4.3L150.7,73.4z"
                    />
                    <path
                        class="st2"
                        d="M148.6,77.4c0.2-0.3,0.4-0.5,0.6-0.8s0.3-0.5,0.5-0.8c0.1-0.1,0.2-0.2,0.2-0.3c0.2-0.4,0.4-0.8,0.5-1.2
                        l-29.2-0.7l0.1,1.6l-17.9-0.5v-1.8l-29.8,3.7l-0.4,2.2l30.2-2.2L148.6,77.4z"
                    />
                    <path
                        class="st2"
                        d="M146.5,79.6c0.2-0.1,0.4-0.3,0.6-0.5c0.1-0.1,0.3-0.2,0.4-0.3l-25.8-0.2l0.2,1.5L103.4,80v-1.8l-30.3,1.6
                        L72.7,82h30.6h0.1h35.4C141.8,82,144.4,81.1,146.5,79.6z"
                    />
                    <path class="st2" d="M128.3,15c-1.6-1.5-3.3-2.8-5.1-3.8l-19.7-9.5V0l-23,34l-0.4,2l23.3-32.4L128.3,15z" />
                    <polygon class="st2" points="118.8,52.7 118.7,50.9 103.4,48.7 103.4,46.9 76,61.4 75.6,63.6 103.3,50.6       " />
                    <path class="st2" d="M123.4,39.4l14.5,3.1c0.3-0.4,0.6-0.9,0.8-1.4L126,38.3C125.5,39,124.6,39.4,123.4,39.4z" />
                    <path class="st2" d="M125.5,26.6l12.7,4c-0.2-0.6-0.4-1.1-0.6-1.7l-13.1-4.2C124.9,25.2,125.2,25.9,125.5,26.6z" />
                    <path class="st2" d="M139.5,37.3l-12.4-3.2c0,0.6,0,1.1-0.1,1.6l12.4,3C139.5,38.4,139.5,37.8,139.5,37.3z" />
                    <path class="st2" d="M133.4,65.5c-0.1,1-0.5,1.9-0.9,2.5l18.7,1.1c0-1-0.2-2-0.4-3l-17.3-1.2C133.5,65.1,133.4,65.3,133.4,65.5z" />
                    <path
                        class="st2"
                        d="M133.6,63.6l16.9,1.3c-0.1-0.4-0.3-0.9-0.4-1.3c-0.2-0.6-0.4-1.1-0.7-1.7l-16.1-1.5
                        C133.5,61.4,133.6,62.4,133.6,63.6z"
                    />
                    <path class="st2" d="M132.9,59l16,1.6c-0.5-1.1-0.9-2.1-1.4-3.1l-16.1-1.8C132,56.7,132.5,57.7,132.9,59z" />
                    <path
                        class="st2"
                        d="M128.7,52.6c0.5,0.4,1,1,1.5,1.6l16.5,2.1c-0.6-1.1-1.3-2.2-2.1-3.1L125,50.6C126.5,51,127.8,51.7,128.7,52.6
                        z"
                    />
                    <path class="st2" d="M126.8,31.3l12.5,3.5c-0.1-0.5-0.2-1-0.3-1.6l-12.5-3.6C126.6,30.1,126.7,30.7,126.8,31.3z" />
                    <polygon class="st2" points="117.5,37.9 117.3,36.3 103.4,33 103.4,31.2 77.5,52.2 77.2,54.3 103.4,34.8       " />
                    <path
                        class="st2"
                        d="M137.9,46.6c-0.9-0.7-1.7-1.3-2.7-1.9c-0.1,0-0.1-0.1-0.1-0.1l-31.7-6.3v-1.8L77,55.3l-0.3,2.2l26.7-17.3
                        L137.9,46.6z"
                    />
                    <path class="st2" d="M133.5,21c-0.5-0.7-1.1-1.4-1.6-2.1l-28.4-12V5.2L80,37l-0.3,2.1l23.8-30.3L133.5,21z" />
                    <path
                        class="st2"
                        d="M143.5,51.8c-1-1.3-2.1-2.4-3.3-3.5l-10.6-1.8c-1.3,0.3-2.5,0.5-3.7,0.7l-22.4-3.7v-1.8l-27,16.7l-0.3,2.2
                        l27.2-15.1L143.5,51.8z"
                    />
                    <polygon class="st2" points="117,33.2 116.8,31.4 103.4,27.8 103.4,26.1 78,49.2 77.7,51.3 103.4,29.7         " />
                    <path class="st2" d="M136.4,26.1c-0.3-0.6-0.6-1.2-0.9-1.8l-32.1-12.2v-1.7L79.5,40.1l-0.3,2.1L103.4,14L136.4,26.1z" />
                    <polygon class="st2" points="116.5,28.4 116.3,26.6 103.4,22.6 103.4,20.9 78.5,46.2 78.2,48.3 103.4,24.5         " />
                    <polygon class="st2" points="116,23.4 115.9,21.7 103.5,17.4 103.5,15.7 79,43.1 78.7,45.2 103.4,19.2         " />
                </g>
            </svg>
        </div>
    </div>
    <!--===END LOADING PAGE===-->
    <div class="clear"></div>
</div>
