<div id="vnt-content">
    <div class="vnt-main-top v-company">
        <div class="vnt-slide">
            <div id="vnt-slide" class="slick-init">
                <div class="item">
                    <div class="video"><video muted loop autoplay src="vnt_upload/weblink/CLIP_WEBSITE_da_cat_NEW.mp4"></video></div>
                    <a href="https://www.youtube.com/watch?v=5vlK8__ZrK0" data-fancybox class="link"></a>
                </div>
            </div>
            <div class="vnt-caption">
                <h2 class="fTitle">Nhà máy Boston Pharma</h2>
                <div class="desVideo"><span>Xem hết video</span></div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="designAds">
            <div class="circle">
                <div class="icon"><img alt="" src="vnt_upload/service/11_2019/i_con.svg" /></div>

                <div class="t1">Công suất</div>

                <div class="t2">1 tỷ đơn vị</div>

                <div class="t3">Sản phẩm/năm</div>
            </div>

            <div class="grid">
                <div class="col v1">
                    <div class="item">
                        <div class="num">550+</div>

                        <div class="cont">Nhân viên lành nghề, trình độ chuyên môn cao và được đào tạo thường xuyên</div>
                    </div>
                </div>

                <div class="col v2">
                    <div class="item">
                        <div class="num"><span class="count">286</span>+</div>

                        <div class="cont">Thiết bị, máy móc hiện đại, có nguồn gốc xuất xứ từ các quốc gia tiên tiến như Mỹ, Ý, Đức, Pháp, Nhật Bản,…</div>
                    </div>
                </div>

                <div class="col v3">
                    <div class="item">
                        <div class="num"><span class="count">100</span>+</div>

                        <div class="cont">Hàng trăm sản phẩm thuốc và TPBVSK với chất lượng hàng đầu</div>
                    </div>
                </div>

                <div class="col v4">
                    <div class="item">
                        <div class="num"><span class="count">3</span></div>

                        <div class="cont">Tủ lão hóa cấp tốc theo các điều kiện yêu cầu của thị trường, ánh sáng hiện đại</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slideCompany" class="slick-init">
            <div class="item">
                <div class="company">
                    <div class="img">
                        <a href="/vn/phan-xuong-non-betalactam.html"><img src="vnt_upload/service/12_2019/thumbs/740_crop_footer_nha_may_1.jpg" alt="PHÂN XƯỞNG NON-BETALACTAM" /></a>
                    </div>
                    <div class="caption">
                        <div class="tend">
                            <h3><a href="/vn/phan-xuong-non-betalactam.html">PHÂN XƯỞNG NON-BETALACTAM</a></h3>
                        </div>
                        <div class="des">Gồm các dây chuyền sản xuất thuốc non-ß-Lactam.</div>
                        <div class="link">
                            <a href="/vn/phan-xuong-non-betalactam.html"><span>Tìm hiểu thêm</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="company">
                    <div class="img">
                        <a href="/vn/phan-xuong-betalactam.html"><img src="vnt_upload/service/11_2019/thumbs/740_crop_1_1.jpg" alt="PHÂN XƯỞNG BETALACTAM" /></a>
                    </div>
                    <div class="caption">
                        <div class="tend">
                            <h3><a href="/vn/phan-xuong-betalactam.html">PHÂN XƯỞNG BETALACTAM</a></h3>
                        </div>
                        <div class="des">Gồm các dây chuyền sản xuất Thuốc chứa kháng sinh nhóm ß-Lactam</div>
                        <div class="link">
                            <a href="/vn/phan-xuong-betalactam.html"><span>Tìm hiểu thêm</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desCompany">
            <p><strong>Hệ thống xử lý nước tinh khiết đạt tiêu chuẩn FDA,</strong> tự động vận hành và tự sửa lỗi khi có phát sinh</p>

            <p>
                Tất cả các hoạt chất, tá dược được sản xuất tại các quốc gia như Mỹ, Pháp, Đức, Anh, Brazil, Ấn Độ, Cộng hòa Séc, Đan Mạch, Việt Nam,…đáp ứng
                <strong>Tiêu chuẩn theo Dược điển Việt Nam IV, V; Dược điển Mỹ 38-41; Dược điển Anh 2014-2019, Dược điển Châu Âu 8.0-9.0, Dược điển Nhật VII,…</strong>
            </p>

            <p><strong>Hệ thống HVAC hiện đại,</strong> điều khiển bằng <strong>BMS tiên tiến.</strong></p>

            <p>Khí nén trước khi vào khu vực sản xuất được sấy khô và lọc tách tiểu phân bằng <strong>máy sấy khô khí nén HAKINSON.</strong></p>

            <p>Hệ thống cung cấp khí nén cho nhà máy gồm 2 máy <strong>Khí nén không dầu từ Nhật Bản (Hitachi và Mitsuiseiki) hoạt động luân phiên, thân thiện với môi trường và hiệu suất cao.</strong></p>
        </div>
    </div>
    <div id="slideGallery">
        <div class="swiper-container gallery-slide-1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img">
                        <a href="#"><img class="zoom-img" src="vnt_upload/service/12_2019/footer_nha_may.jpg" alt="BOSTON PHARMA FACTORY" /></a>
                    </div>
                    <div class="i-desc">
                        <div class="title">
                            <h3><a href="#">BOSTON PHARMA FACTORY</a></h3>
                        </div>
                        <div class="content">No. 43, 8th Street, Vietnam - Singapore Industrial Park, Thuan An City, Binh Duong Province</div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="img">
                        <a href="#"><img class="zoom-img" src="vnt_upload/service/12_2019/footer_nha_may_1.jpg" alt="The laboratory meets GLP standard" /></a>
                    </div>
                    <div class="i-desc">
                        <div class="title">
                            <h3><a href="#">The laboratory meets GLP standard</a></h3>
                        </div>
                        <div class="content">No. 43, 8th Street, Vietnam - Singapore Industrial Park, Thuan An City, Binh Duong Province</div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="img">
                        <a href="#"><img class="zoom-img" src="vnt_upload/service/12_2019/footer_nha_may_3.jpg" alt="A contingent of excellent and professional officers and employees" /></a>
                    </div>
                    <div class="i-desc">
                        <div class="title">
                            <h3><a href="#">A contingent of excellent and professional officers and employees</a></h3>
                        </div>
                        <div class="content">No. 43, 8th Street, Vietnam - Singapore Industrial Park, Thuan An City, Binh Duong Province</div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="img">
                        <a href="#"><img class="zoom-img" src="vnt_upload/service/12_2019/footer_nha_may_5.jpg" alt="A contingent of excellent and professional officers and employees" /></a>
                    </div>
                    <div class="i-desc">
                        <div class="title">
                            <h3><a href="#">A contingent of excellent and professional officers and employees</a></h3>
                        </div>
                        <div class="content">No. 43, 8th Street, Vietnam - Singapore Industrial Park, Thuan An City, Binh Duong Province</div>
                    </div>
                </div>
            </div>
            <div class="circle-arrow-style">
                <div class="swiper-button-next swiper-button"><i class="fa fa-angle-right"></i></div>
                <div class="swiper-button-prev swiper-button"><i class="fa fa-angle-left"></i></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
