<div id="vnt-content">
    <div class="vnt-main-top">
        <div class="vnt-slide">
            <div id="vnt-slide" class="slick-init">
                <div class="item">
                    <div class="img" style="background-image: url(vnt_upload/weblink/tin_tuc_banner.jpg);"></div>
                </div>
            </div>
            <div class="vnt-caption">
                <h2 class="fTitle">TIN TỨC</h2>
            </div>
        </div>
        <div class="menuTab">
            <ul>
                <li class="current"><a href="/vn/tin-tuc.html" class="current">Tất cả</a></li>
                <li><a href="/vn/khoe-moi-ngay.html">KHỎE MỖI NGÀY</a></li>
                <li><a href="/vn/hoat-dong-cua-boston.html">Hoạt động của boston</a></li>
                <li><a href="/vn/kho-tai-lieu-y-duoc.html">KHO TÀI LIỆU Y DƯỢC</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapCont">
        <div class="wrapper">
            <div class="slideNews">
                <div class="item">
                    <div class="newsS">
                        <div class="img">
                            <a href="/vn/cam-cum-va-cach-dieu-tri.html"><img src="vnt_upload/news/10_2020/thumbs/1500_crop_PARALMAX_CAM_CUM_01.png" alt="CẢM CÚM VÀ CÁCH ĐIỀU TRỊ" /></a>
                            <div class="date">
                                <div class="day">12</div>
                                <div class="monyear">11-2020</div>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="tend">
                                <h3><a href="/vn/cam-cum-va-cach-dieu-tri.html">CẢM CÚM VÀ CÁCH ĐIỀU TRỊ</a></h3>
                            </div>
                            <div class="des">
                                Cảm cúm hay còn gọi là cúm, là bệnh lây truyền qua đường hô hấp do virus cúm (Influenza virus) gây ra. Virus cúm tồn tại trong những giọt nhỏ li ti tạo ra khi người bệnh nói chuyện, ho hay hắt hơi.?
                            </div>
                            <div class="link">
                                <a href="/vn/cam-cum-va-cach-dieu-tri.html"><span>Tìm hiểu thêm</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="newsS">
                        <div class="img">
                            <a href="/vn/the-nao-la-an-uong-lanh-manh.html"><img src="vnt_upload/news/11_2020/thumbs/1500_crop_the_nao_la_an_uong_lanh_manh.png" alt="THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?" /></a>
                            <div class="date">
                                <div class="day">16</div>
                                <div class="monyear">11-2020</div>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="tend">
                                <h3><a href="/vn/the-nao-la-an-uong-lanh-manh.html">THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?</a></h3>
                            </div>
                            <div class="des">Ăn uống lành mạnh sẽ giúp phòng ngừa các bệnh về dinh dưỡng. Thói quen ăn uống không lành mạnh là nguyên nhân hàng đầu ảnh hưởng sức khỏe và gây ra gánh nặng bệnh tật cho xã hội.?</div>
                            <div class="link">
                                <a href="/vn/the-nao-la-an-uong-lanh-manh.html"><span>Tìm hiểu thêm</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="newsS">
                        <div class="img">
                            <a href="/vn/boston-pharma-tai-le-trao-hoc-bong-cho-sinh-vien-khoa-duoc-dai-hoc-y-duoc-tp-hcm-nam-hoc-2020-2021.html">
                                <img src="vnt_upload/news/11_2020/thumbs/1500_crop_a96ad0c5a09c51c2088d.jpg" alt="Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021" />
                            </a>
                            <div class="date">
                                <div class="day">19</div>
                                <div class="monyear">11-2020</div>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="tend">
                                <h3>
                                    <a href="/vn/boston-pharma-tai-le-trao-hoc-bong-cho-sinh-vien-khoa-duoc-dai-hoc-y-duoc-tp-hcm-nam-hoc-2020-2021.html">
                                        Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021
                                    </a>
                                </h3>
                            </div>
                            <div class="des">
                                Sáng ngày 14 tháng 11 năm 2020, Ông Lương Đăng Khoa, Tổng giám đốc Công ty Cổ phần Dược phẩm Boston Việt Nam đã đến tham dự Lễ trao biểu trưng học bổng và trao áo blouse năm học 2020 – 2021?
                            </div>
                            <div class="link">
                                <a href="/vn/boston-pharma-tai-le-trao-hoc-bong-cho-sinh-vien-khoa-duoc-dai-hoc-y-duoc-tp-hcm-nam-hoc-2020-2021.html"><span>Tìm hiểu thêm</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vnt-news">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="news">
                            <div class="img">
                                <a href="/vn/lam-the-nao-de-tranh-con-dot-quy-xay-ra.html" title="LÀM THẾ NÀO ĐỂ TRÁNH CƠN ĐỘT QUỴ XẢY RA">
                                    <img src="vnt_upload/news/12_2020/thumbs/1500_crop_Dot_nguy.png" alt="LÀM THẾ NÀO ĐỂ TRÁNH CƠN ĐỘT QUỴ XẢY RA" />
                                </a>
                                <div class="date">
                                    <div class="day">12</div>
                                    <div class="monyear">12-2020</div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/lam-the-nao-de-tranh-con-dot-quy-xay-ra.html" title="LÀM THẾ NÀO ĐỂ TRÁNH CƠN ĐỘT QUỴ XẢY RA">LÀM THẾ NÀO ĐỂ TRÁNH CƠN ĐỘT QUỴ XẢY RA</a></h3>
                                </div>
                                <div class="link">
                                    <a href="/vn/lam-the-nao-de-tranh-con-dot-quy-xay-ra.html" title="LÀM THẾ NÀO ĐỂ TRÁNH CƠN ĐỘT QUỴ XẢY RA"><span>Tìm hiểu thêm</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="news">
                            <div class="img">
                                <a
                                    href="/vn/boston-pharma-tai-le-trao-hoc-bong-cho-sinh-vien-khoa-duoc-dai-hoc-y-duoc-tp-hcm-nam-hoc-2020-2021.html"
                                    title="Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021"
                                >
                                    <img src="vnt_upload/news/11_2020/thumbs/1500_crop_a96ad0c5a09c51c2088d.jpg" alt="Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021" />
                                </a>
                                <div class="date">
                                    <div class="day">19</div>
                                    <div class="monyear">11-2020</div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3>
                                        <a
                                            href="/vn/boston-pharma-tai-le-trao-hoc-bong-cho-sinh-vien-khoa-duoc-dai-hoc-y-duoc-tp-hcm-nam-hoc-2020-2021.html"
                                            title="Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021"
                                        >
                                            Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021
                                        </a>
                                    </h3>
                                </div>
                                <div class="link">
                                    <a
                                        href="/vn/boston-pharma-tai-le-trao-hoc-bong-cho-sinh-vien-khoa-duoc-dai-hoc-y-duoc-tp-hcm-nam-hoc-2020-2021.html"
                                        title="Boston Pharma tại lễ trao học bổng cho sinh viên khoa Dược Đại Học Y Dược TP. HCM năm học 2020 - 2021"
                                    >
                                        <span>Tìm hiểu thêm</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="news">
                            <div class="img">
                                <a href="/vn/the-nao-la-an-uong-lanh-manh.html" title="THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?">
                                    <img src="vnt_upload/news/11_2020/thumbs/1500_crop_the_nao_la_an_uong_lanh_manh.png" alt="THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?" />
                                </a>
                                <div class="date">
                                    <div class="day">16</div>
                                    <div class="monyear">11-2020</div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/the-nao-la-an-uong-lanh-manh.html" title="THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?">THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?</a></h3>
                                </div>
                                <div class="link">
                                    <a href="/vn/the-nao-la-an-uong-lanh-manh.html" title="THẾ NÀO LÀ ĂN UỐNG LÀNH MẠNH?"><span>Tìm hiểu thêm</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="news">
                            <div class="img">
                                <a href="/vn/cam-cum-va-cach-dieu-tri.html" title="CẢM CÚM VÀ CÁCH ĐIỀU TRỊ"><img src="vnt_upload/news/10_2020/thumbs/1500_crop_PARALMAX_CAM_CUM_01.png" alt="CẢM CÚM VÀ CÁCH ĐIỀU TRỊ" /></a>
                                <div class="date">
                                    <div class="day">12</div>
                                    <div class="monyear">11-2020</div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/cam-cum-va-cach-dieu-tri.html" title="CẢM CÚM VÀ CÁCH ĐIỀU TRỊ">CẢM CÚM VÀ CÁCH ĐIỀU TRỊ</a></h3>
                                </div>
                                <div class="link">
                                    <a href="/vn/cam-cum-va-cach-dieu-tri.html" title="CẢM CÚM VÀ CÁCH ĐIỀU TRỊ"><span>Tìm hiểu thêm</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="news">
                            <div class="img">
                                <a href="/vn/cap-nhat-kien-thuc-chuyen-mon-ve-duoc-va-nhung-dieu-duoc-si-nen-biet.html" title="CẬP NHẬT KIẾN THỨC CHUYÊN MÔN VỀ DƯỢC VÀ NHỮNG ĐIỀU DƯỢC SĨ NÊN BIẾT">
                                    <img src="vnt_upload/news/10_2020/thumbs/1500_crop_Kien_thuc_chuyen_mon_ve_Duoc.png" alt="CẬP NHẬT KIẾN THỨC CHUYÊN MÔN VỀ DƯỢC VÀ NHỮNG ĐIỀU DƯỢC SĨ NÊN BIẾT" />
                                </a>
                                <div class="date">
                                    <div class="day">05</div>
                                    <div class="monyear">11-2020</div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3>
                                        <a href="/vn/cap-nhat-kien-thuc-chuyen-mon-ve-duoc-va-nhung-dieu-duoc-si-nen-biet.html" title="CẬP NHẬT KIẾN THỨC CHUYÊN MÔN VỀ DƯỢC VÀ NHỮNG ĐIỀU DƯỢC SĨ NÊN BIẾT">
                                            CẬP NHẬT KIẾN THỨC CHUYÊN MÔN VỀ DƯỢC VÀ NHỮNG ĐIỀU DƯỢC SĨ NÊN BIẾT
                                        </a>
                                    </h3>
                                </div>
                                <div class="link">
                                    <a href="/vn/cap-nhat-kien-thuc-chuyen-mon-ve-duoc-va-nhung-dieu-duoc-si-nen-biet.html" title="CẬP NHẬT KIẾN THỨC CHUYÊN MÔN VỀ DƯỢC VÀ NHỮNG ĐIỀU DƯỢC SĨ NÊN BIẾT"><span>Tìm hiểu thêm</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="news">
                            <div class="img">
                                <a href="/vn/huong-dan-trang-bi-tu-thuoc-y-te-tai-nha.html" title="HƯỚNG DẪN TRANG BỊ TỦ THUỐC Y TẾ TẠI NHÀ">
                                    <img src="vnt_upload/news/10_2020/thumbs/1500_crop_Tu_thuoc_Y_te.jpg" alt="HƯỚNG DẪN TRANG BỊ TỦ THUỐC Y TẾ TẠI NHÀ" />
                                </a>
                                <div class="date">
                                    <div class="day">29</div>
                                    <div class="monyear">10-2020</div>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="tend">
                                    <h3><a href="/vn/huong-dan-trang-bi-tu-thuoc-y-te-tai-nha.html" title="HƯỚNG DẪN TRANG BỊ TỦ THUỐC Y TẾ TẠI NHÀ">HƯỚNG DẪN TRANG BỊ TỦ THUỐC Y TẾ TẠI NHÀ</a></h3>
                                </div>
                                <div class="link">
                                    <a href="/vn/huong-dan-trang-bi-tu-thuoc-y-te-tai-nha.html" title="HƯỚNG DẪN TRANG BỊ TỦ THUỐC Y TẾ TẠI NHÀ"><span>Tìm hiểu thêm</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <ul class="text-center">
                        <li><span class="pagecur">1</span></li>
                        <li><a href="/vn/tin-tuc.html/p-2" class="pagelink">2</a></li>
                        <li><a href="/vn/tin-tuc.html/p-3" class="pagelink">3</a></li>
                        <li><a href="/vn/tin-tuc.html/p-4" class="pagelink">4</a></li>
                        <li><a href="/vn/tin-tuc.html/p-5" class="pagelink">5</a></li>
                        <li><a href="/vn/tin-tuc.html/p-6" class="pagelink">6</a></li>
                        <li><a href="/vn/tin-tuc.html/p-7" class="pagelink">7</a></li>
                        <li><a href="/vn/tin-tuc.html/p-8" class="pagelink">8</a></li>
                        <li>
                            <a href="/vn/tin-tuc.html/p-2" class="btnPage"><i class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                            <a href="/vn/tin-tuc.html/p-8" class="btnPage"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
