<div id="vnt-content">
    <div class="vnt-main-top">
        <div class="vnt-slide">
            <div id="vnt-slide" class="slick-init">
                <div class="item">
                    <div class="img" style="background-image: url(vnt_upload/weblink/slide_3.jpg);"></div>
                </div>
            </div>
            <div class="vnt-caption">
                <h2 class="fTitle">Hợp tác cùng Boston Pharma</h2>
            </div>
        </div>
    </div>
    <div class="wrapCont">
        <div class="wrapper">
            <div class="dessPartner">
                <div class="title">Hợp tác sáng tạo làm chúng tôi khác biệt</div>

                <div class="des">
                    Với tiêu chí xây dựng mối quan hệ đối tác vững mạnh, mô hình hợp tác độc đáo, chúng tôi cam kết &nbsp;mang đến cho bạn một cơ hội kinh doanh tuyệt vời song hành cùng sứ mệnh chăm sóc sức khỏe cộng đồng.
                </div>
                <div class="link">
                    <a href="/vn/doi-tac.html?view=popup"><span>Hợp tác cùng chúng tôi</span></a>
                </div>
            </div>
            <div class="vnt-partner">
                <div class="row">
                    <div class="View1">
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://https://www.basf.com/global/en.html" target="_blank"><img src="vnt_upload/partner/thumbs/120_basf_top.png" alt="basf_top.png" title="BASF" /></a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://https://www.basf.com/global/en.html" target="_blank">BASF</a></h3>
                                    </div>
                                    <a href="https://www.basf.com/global/en.html" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://www.granulesindia.com/index.php" target="_blank">
                                            <img src="vnt_upload/partner/thumbs/120_Granules_India_Limited.jpg" alt="Granules_India_Limited.jpg" title="Granules India Limited" />
                                        </a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://www.granulesindia.com/index.php" target="_blank">Granules India Limited</a></h3>
                                    </div>
                                    <a href="http://www.granulesindia.com/index.php" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://www.mallinckrodt.com/" target="_blank"><img src="vnt_upload/partner/thumbs/120_Mallincrodt_Covidien_new.jpg" alt="Mallincrodt_Covidien_new.jpg" title="Mallincrodt Covidien" /></a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://www.mallinckrodt.com/" target="_blank">Mallincrodt Covidien</a></h3>
                                    </div>
                                    <a href="http://www.mallinckrodt.com/" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                        <div class="last">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://https://www.elementispharma.com/" target="_blank">
                                            <img src="vnt_upload/partner/thumbs/120_Elementis_Pharma_GmbH.png" alt="Elementis_Pharma_GmbH.png" title="Elementis Pharma GmbH" />
                                        </a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://https://www.elementispharma.com/" target="_blank">Elementis Pharma GmbH</a></h3>
                                    </div>
                                    <a href="https://www.elementispharma.com/" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="View1">
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://https://www.drreddys.com/" target="_blank"><img src="vnt_upload/partner/thumbs/120_12345.jpg" alt="12345.jpg" title="Dr. Reddy&#39;s Laboratories Ltd" /></a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://https://www.drreddys.com/" target="_blank">Dr. Reddy&#39;s Laboratories Ltd</a></h3>
                                    </div>
                                    <a href="https://www.drreddys.com/" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://https://www.westerndrugs.com/" target="_blank"><img src="vnt_upload/partner/thumbs/120_western_drugs_new.jpg" alt="western_drugs_new.jpg" title="Western Drugs Ltd" /></a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://https://www.westerndrugs.com/" target="_blank">Western Drugs Ltd</a></h3>
                                    </div>
                                    <a href="https://www.westerndrugs.com/" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://supriyalifescience.com/" target="_blank"><img src="vnt_upload/partner/thumbs/120_logo.png" alt="logo.png" title="Supriya Lifescience Ltd" /></a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://supriyalifescience.com/" target="_blank">Supriya Lifescience Ltd</a></h3>
                                    </div>
                                    <a href="http://supriyalifescience.com/" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                        <div class="last">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://https://www.iolcp.com/" target="_blank"><img src="vnt_upload/partner/thumbs/120_adf.jpg" alt="adf.jpg" title="IOL Chemicals And Pharmaceuticals Limited" /></a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://https://www.iolcp.com/" target="_blank">IOL Chemicals And Pharmaceuticals Limited</a></h3>
                                    </div>
                                    <a href="https://www.iolcp.com/" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="View1 last">
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://https://www.cadilapharma.com/" target="_blank"><img src="vnt_upload/partner/thumbs/120_CADILA.png" alt="CADILA.png" title="Cadila Pharmaceuticals Ltd" /></a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://https://www.cadilapharma.com/" target="_blank">Cadila Pharmaceuticals Ltd</a></h3>
                                    </div>
                                    <a href="https://www.cadilapharma.com/" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://https://www.synthokemlabs.com/" target="_blank"><img src="vnt_upload/partner/thumbs/120_Untitled_3.jpg" alt="Untitled_3.jpg" title="Synthokem Labs Private Limited" /></a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://https://www.synthokemlabs.com/" target="_blank">Synthokem Labs Private Limited</a></h3>
                                    </div>
                                    <a href="https://www.synthokemlabs.com/" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://www.morepen.com/" target="_blank"><img src="vnt_upload/partner/thumbs/120_EGz7mMeVUAE_3P7.jpg" alt="EGz7mMeVUAE_3P7.jpg" title="Morepen Laboratories Ltd" /></a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://www.morepen.com/" target="_blank">Morepen Laboratories Ltd</a></h3>
                                    </div>
                                    <a href="http://www.morepen.com/" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                        <div class="last">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="partner">
                                    <div class="img">
                                        <a href="http://https://www.aarti-industries.com/" target="_blank"><img src="vnt_upload/partner/thumbs/120_full_logo.png" alt="full_logo.png" title="Aarti Industries Limited" /></a>
                                    </div>
                                    <div class="tend">
                                        <h3><a href="http://https://www.aarti-industries.com/" target="_blank">Aarti Industries Limited</a></h3>
                                    </div>
                                    <a href="https://www.aarti-industries.com/" class="link" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                        <br class="clear" />
                    </div>
                    <br class="clear" />
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
