<div id="vnt-header" class="">
    <div class="mainHead">
        <div class="logo">
            <a onmousedown="return rwt(this,'advertise',1)" href="/" target="_self" title=""><img src="vnt_upload/weblink/logo.png" alt="" /></a>
            <h1 style="display: none;"></h1>
        </div>
        <div class="menuTop hidden-sm hidden-xs">
            <ul>
                <li class="current"><a href="/" target="_self">Trang chủ</a></li>
                <li><a href="/ve-chung-toi" target="_self">Về chúng tôi</a></li>
                <li><a href="/nha-may" target="_self">Nhà máy</a></li>
                <li class="nop">
                    <a href="/san-pham" target="_self">Sản phẩm</a>
                    <div class="megaMenu">
                        <div class="wrapper">
                            <div class="grid">
                                <div class="col1">
                                    <div class="title">Sản phẩm</div>
                                    <div class="menuNav">
                                        <ul>
                                            <li class="active"><a href="/thuoc.html" data-target="menu1">Thuốc</a></li>
                                            <li class=""><a href="/san-pham-thuc-pham-chuc-nang.html" data-target="menu2">Thực phẩm chức năng</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="menuFor active" data-target="menu1">
                                        <div class="g">
                                            <div class="c1">
                                                <div class="title">Thuốc</div>
                                                <ul>
                                                    <li class="active"><a href="/nhom-giam-dau-khang-viem-chong-phu-ne.html" data-target="menu1">Nhóm giảm đau, kháng viêm, chống phù nề</a></li>
                                                    <li class=""><a href="/nhom-khang-sinh-khang-virus-khang-nam.html" data-target="menu2">Nhóm Kháng sinh - Kháng Virus - Kháng nấm</a></li>
                                                    <li class=""><a href="/nhom-tieu-hoa.html" data-target="menu3">Nhóm tiêu hóa</a></li>
                                                    <li class=""><a href="/nhom-noi-tiet.html" data-target="menu4">Nhóm nội tiết</a></li>
                                                    <li class=""><a href="/nhom-ho-hap.html" data-target="menu5">Nhóm hô hấp</a></li>
                                                    <li class=""><a href="/thuoc.html" data-target="menu6">Xem tất cả </a></li>
                                                </ul>
                                            </div>
                                            <div class="c2"><img src="vnt_upload/menu/menu2.jpg" /></div>
                                        </div>
                                    </div>
                                    <div class="menuFor" data-target="menu2">
                                        <div class="g">
                                            <div class="c1">
                                                <div class="title">Thực phẩm chức năng</div>
                                                <ul>
                                                    <li class="active"><a href="/bo-duong-tang-cuong-suc-khoe" data-target="menu1">BỔ DƯỠNG- TĂNG CƯỜNG SỨC KHỎE</a></li>
                                                    <li class=""><a href="/enzyme-tieu-hoa" data-target="menu2">ENZYME TIÊU HÓA</a></li>
                                                    <li class=""><a href="/ho-tro-co-xuong-khop" data-target="menu3">HỖ TRỢ CƠ XƯƠNG KHỚP</a></li>
                                                    <li class=""><a href="/giam-ho-bo-phe" data-target="menu4">GIẢM HO - BỔ PHẾ</a></li>
                                                    <li class=""><a href="/bo-gan-loi-mat-tan-soi" data-target="menu5">BỔ GAN- LỢI MẬT - TAN SỎI</a></li>
                                                </ul>
                                            </div>
                                            <div class="c2"><img src="vnt_upload/menu/menu1.jpg" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="/doi-tac" target="_self">Đối tác</a></li>
                <li class="nop">
                    <a href="/tin-tuc" target="_self">Tin tức</a>
                    <div class="megaMenu">
                        <div class="wrapper">
                            <div class="grid">
                                <div class="col1">
                                    <div class="title">Tin tức</div>
                                    <div class="menuNav">
                                        <ul>
                                            <li class="active"><a href="/" data-target="menu1">KHỎE MỖI NGÀY</a></li>
                                            <li class=""><a href="/" data-target="menu2">HOẠT ĐỘNG CỦA BOSTON</a></li>
                                            <li class=""><a href="/" data-target="menu3">KHO TÀI LIỆU Y DƯỢC</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="menuFor active" data-target="menu1">
                                        <div class="g">
                                            <div class="c1">
                                                <div class="title">KHỎE MỖI NGÀY</div>
                                            </div>
                                            <div class="c2"></div>
                                        </div>
                                    </div>
                                    <div class="menuFor" data-target="menu2">
                                        <div class="g">
                                            <div class="c1">
                                                <div class="title">HOẠT ĐỘNG CỦA BOSTON</div>
                                            </div>
                                            <div class="c2"></div>
                                        </div>
                                    </div>
                                    <div class="menuFor" data-target="menu3">
                                        <div class="g">
                                            <div class="c1">
                                                <div class="title">KHO TÀI LIỆU Y DƯỢC</div>
                                            </div>
                                            <div class="c2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nop">
                    <a href="/tuyen-dung" target="_self">Tuyển dụng</a>
                    <div class="megaMenu">
                        <div class="wrapper">
                            <div class="grid">
                                <div class="col1">
                                    <div class="title">Tuyển dụng</div>
                                    <div class="menuNav">
                                        <ul>
                                            <li class="active"><a href="/tuyen-dung/chinh-sach-nhan-su.html" data-target="menu1">Chính sách nhân sự</a></li>
                                            <li class=""><a href="/tuyen-dung/co-hoi-viec-lam.html" data-target="menu2">Cơ hội việc làm</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="menuFor active" data-target="menu1">
                                        <div class="g">
                                            <div class="c1">
                                                <div class="title">Chính sách nhân sự</div>
                                                <ul>
                                                    <li class="active"><a href="/chinh-sach-tuyen-dung.html" data-target="menu1">CHÍNH SÁCH TUYỂN DỤNG</a></li>
                                                    <li class=""><a href="/dao-tao-va-phat-trien.html" data-target="menu2">ĐÀO TẠO &amp; PHÁT TRIỂN</a></li>
                                                    <li class=""><a href="/moi-truong-lam-viec.html" data-target="menu3">MÔI TRƯỜNG LÀM VIỆC</a></li>
                                                    <li class=""><a href="/tieu-chuan-ung-vien.html" data-target="menu4">TIÊU CHUẨN ỨNG VIÊN</a></li>
                                                </ul>
                                            </div>
                                            <div class="c2"></div>
                                        </div>
                                    </div>
                                    <div class="menuFor" data-target="menu2">
                                        <div class="g">
                                            <div class="c1">
                                                <div class="title">Cơ hội việc làm</div>
                                            </div>
                                            <div class="c2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="/lien-he" target="_self">Liên hệ</a></li>
            </ul>
        </div>
        <div class="header-tools">
            <div class="searchTop">
                <div class="icon">
                    <img class="opn" src="skins/default/images/i-search.svg" alt="" />
                    <img class="clo" src="skins/default/images/i-close.svg" alt="" />
                </div>
                <div class="popup">
                    <div class="wrapper">
                        <form id="formSearch" name="formSearch" method="post" action="/vn/tim-kiem.html" onSubmit="return check_search(this);" class="box_search">
                            <input placeholder="" name="keyword" id="keyword" type="text" value="" class="text_search" />
                            <span class="place">Vui lòng nhập từ khóa</span>
                            <button id="do_submit" name="do_submit" type="submit"><img src="skins/default/images/i-search.svg" alt="" /></button>
                            <input name="do_search" value="1" type="hidden" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="languageTop hidden-sm hidden-xs"></div>
            <div class="menu_mobile hidden-lg hidden-md">
                <div class="icon_menu"><span class="style_icon"></span></div>
            </div>
        </div>
    </div>
</div>
