<div id="vnt-footer">
    <div class="adsFoot">
        <div class="wrapper">
            <div class="grid">
                <div class="col">
                    <div class="item">
                        <div class="img"><img alt="" src="vnt_upload/File/11_2019/i_foot_1.svg" /></div>

                        <div class="text">
                            <strong>
                                <span style="color: #ffffff;">Hotline tư vấn: </span><a href="tel:19001910"><span style="color: #ffffff;">19001910</span></a>
                            </strong>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="img"><img alt="" src="vnt_upload/File/11_2019/i_foot_2.svg" /></div>

                        <div class="text">
                            <a href="http://bostonpharma.demo113.trust.vn/vn/doi-tac.html">
                                <span style="color: #ffffff;"><strong>Hợp tác với Boston Pharma</strong></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="img"><img alt="" src="vnt_upload/File/11_2019/i_foot_3.svg" /></div>

                        <div class="text">
                            <a href="http://www.bostonpharma.com.vn/vn/tuyen-dung/chinh-sach-nhan-su.html">
                                <span style="color: #ffffff;"><strong>Cơ hội nghề nghiệp</strong></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="img"><img alt="" src="vnt_upload/File/11_2019/i_foot_4.svg" /></div>

                        <div class="text"><strong>Đăng ký nhận tin</strong></div>
                        <a class="link openPopup" dnot="" href="/dk-popup.html">&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainFoot">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="boxBot">
                        <div class="title">CÔNG TY CỔ PHẦN DƯỢC PHẨM BOSTON VIỆT NAM</div>

                        <div class="content">
                            <div class="addressFoot">
                                <div class="be">
                                    <p class="icon"><strong>Văn phòng:</strong></p>
                                    &nbsp;

                                    <p><strong>- Tại TP Hồ Chí Minh</strong>: 41 Trần Hưng Đạo, Phường 6, Quận 5, Tp.HCM</p>

                                    <p>Điện thoại: 028.3838.0606</p>

                                    <p><strong>-&nbsp;Tại Hà Nội</strong>:&nbsp;192 Phố Đức Giang, Phường Đức Giang, Quận Long Biên, Tp. Hà Nội</p>

                                    <p>Điện thoại:&nbsp;&nbsp;043.212.77.84</p>

                                    <p><strong>- Tại Nha Trang</strong>:&nbsp;29 Thái Thông, xã Vĩnh Thái, Tp.Nha Trang, tỉnh Khánh Hoà</p>

                                    <p>Điện thoại: 025.8389.0260</p>

                                    <p><strong>- Tại Cần Thơ</strong>:&nbsp;S3-4 đường số 10 Khu dân cư lô số 11C, khu đô thị Nam Cần Thơ, Phường Phú Thứ, Quận Cái Răng, TP Cần Thơ</p>

                                    <p>Điện thoại:&nbsp;029.2730.5959</p>

                                    <div class="content">
                                        <div class="addressFoot">
                                            <div class="be">
                                                <p class="icon"><strong>Nhà máy:&nbsp;</strong>43 đường số 8, KCN Việt Nam - Singapore, thành phố Thuận An, tỉnh Bình Dương</p>

                                                <p>Điện thoại: 0274 376 9606 -Fax : 0274 376 9601</p>
                                            </div>
                                        </div>

                                        <div class="congthuong">
                                            <div class="img">
                                                <p>Giấy ĐKKD số: 3700843113 do Sở Kế Hoạch&nbsp;&amp; Đầu Tư&nbsp;Tỉnh Bình Dương cấp lần đầu ngày 01/11/2007</p>

                                                <p>Người đại diện: Lương Đăng Khoa</p>

                                                <div class="ck-img">
                                                    <a href="http://online.gov.vn/Home/WebDetails/65055" target="_blank">
                                                        <img alt="" src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png&#39;/" style="margin-bottom: 120px;" width="240" />
                                                        <img alt="" src="vnt_upload/File/04_2020/congthuong.png" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wrap">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                                <div class="boxBot">
                                    <div class="title">Chính Sách</div>
                                    <div class="content">
                                        <div class="botLink">
                                            <ul>
                                                <li><a href="/dieu-khoan-dich-vu.html" target="_blank">Điều kiện giao dịch chung</a></li>
                                                <li><a href="/huong-dan-mua-hang.html" target="_self">Hướng dẫn mua hàng</a></li>
                                                <li><a href="/phuong-thuc-thanh-toan.html" target="_self">Phương thức thanh toán</a></li>
                                                <li><a href="/chinh-sach-bao-mat-thong-tin-ca-nhan.html" target="_self">Chính sách bảo mật thông tin cá nhân</a></li>
                                                <li><a href="/chinh-sach-giai-quyet-khieu-nai.html" target="_self">Chính sách giải quyết khiếu nại</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="boxBot">
                                    <div class="title">KẾT NỐI VỚI Boston Pharma</div>
                                    <div class="content">
                                        <div class="socialFoot">
                                            <ul>
                                                <li class="bg-facebook">
                                                    <a href="https://www.facebook.com/BostonVN/" target="_blank"><img src="vnt_upload/weblink/icon_FB_56.png" alt="facebook" /></a>
                                                </li>
                                                <li class="bg-instagram">
                                                    <a href="https://www.instagram.com/bostonpharmavietnam/" target="_blank"><img src="vnt_upload/weblink/instagram_icon_965.png" alt="instagram" /></a>
                                                </li>
                                                <li class="bg-twitter">
                                                    <a href="https://twitter.com/boston_pharma" target="_blank"><img src="vnt_upload/weblink/icon_Twitter_56_new.png" alt="twitter" /></a>
                                                </li>
                                                <li class="">
                                                    <a href="https://www.youtube.com/channel/UCtkMZrcITdV5bVPrWaf_Nig" target="_blank"><img src="vnt_upload/weblink/16x16_youtube_icon_16.jpg" alt="Youtube" /></a>
                                                </li>
                                                <li class="">
                                                    <a href="https://tiki.vn/cua-hang/bostonpharma" target="_blank"><img src="vnt_upload/weblink/icon_tiki.png" alt="Tiki" /></a>
                                                </li>
                                                <li class="">
                                                    <a href="https://shopee.vn/boston_pharma" target="_blank"><img src="vnt_upload/weblink/shopee_icon.png" alt="Shopee" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <div class="copy">Copyright © 2019 <strong>BOSTON VIỆT NAM</strong></div>
                        <div class="tkw">
                            <a href="http://www.thietkeweb.com" target="_blank" title="thiet ke web" rel="dofollow" class="thietkeweb">Thiết kế web :</a>
                            <strong><a href="http://www.trust.vn" target="_blank" rel="dofollow">TRUST.vn</a> </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
