<div id="vnt-content">
    <div class="vnt-main-top">
        <div class="vnt-slide">
            <div id="vnt-slide" class="slick-init">
                <div class="item">
                    <div class="img" style="background-image: url(vnt_upload/weblink/new_tuyen_dung.jpg);"></div>
                </div>
            </div>
            <div class="vnt-caption">
                <h2 class="fTitle">Tuyển dụng</h2>
            </div>
        </div>
        <div class="menuTab">
            <ul>
                <li class="active"><a href="/vn/tuyen-dung/chinh-sach-nhan-su.html" title="Chính sách nhân sự">Chính sách nhân sự</a></li>
                <li><a href="/vn/tuyen-dung/co-hoi-viec-lam.html" title="Cơ hội việc làm">Cơ hội việc làm</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapCont">
        <div class="wrapper">
            <div class="vnt-policy">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="policy">
                            <div class="img">
                                <a href="/vn/chinh-sach-tuyen-dung.html"><img src="vnt_upload/recruitment/4.jpg" alt="Chính sách tuyển dụng" /></a>
                            </div>
                            <div class="tend"><h3>Chính sách tuyển dụng</h3></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="policy">
                            <div class="img">
                                <a href="/vn/dao-tao-va-phat-trien.html"><img src="vnt_upload/recruitment/3.jpg" alt="Đào tạo và phát triển" /></a>
                            </div>
                            <div class="tend"><h3>Đào tạo và phát triển</h3></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="policy">
                            <div class="img">
                                <a href="/vn/moi-truong-lam-viec.html"><img src="vnt_upload/recruitment/2.jpg" alt="Môi trường làm việc" /></a>
                            </div>
                            <div class="tend"><h3>Môi trường làm việc</h3></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="policy">
                            <div class="img">
                                <a href="/vn/tieu-chuan-ung-vien.html"><img src="vnt_upload/recruitment/1.jpg" alt="Tiêu chuẩn ứng viên" /></a>
                            </div>
                            <div class="tend"><h3>Tiêu chuẩn ứng viên</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
