<div id="vnt-content">
    <div class="vnt-main-top" style="margin-bottom: 0;">
        <div class="vnt-slide">
            <div id="vnt-slide" class="slick-init">
                <div class="item">
                    <div class="img" style="background-image: url(vnt_upload/weblink/slide_7.jpg);"></div>
                </div>
            </div>
            <div class="vnt-caption">
                <h2 class="fTitle">Liên hệ</h2>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/www.google.com/jsapi"></script>
    <script
        type="text/javascript"
        src="/maps.google.com/maps/api/js_-1414809939.jpg
"
    ></script>
    <script type="text/javascript" src="js/google/gmaps.js"></script>

    <script language="javascript">
        $(document).ready(function () {
            // validate signup form on keyup and submit
            jQuery.validator.addMethod(
                "security_code",
                function (value, element) {
                    if (value == $("#h_code").val()) {
                        return true;
                    } else {
                        return false;
                    }
                },
                "Mã bảo vệ không chính xác"
            );

            var validator = $("#formContact").validate({
                rules: {
                    email: {
                        required: true,
                        email: true,
                    },
                },
                messages: {
                    email: {
                        required: "Vui lòng nhập email",
                        email: "Email không hợp lệ",
                    },
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    // Add the `help-block` class to the error element
                    error.addClass("help-block");

                    // Add `has-feedback` class to the parent div.form-group
                    // in order to add icons to inputs
                    element.parents(".div_input").addClass("has-feedback");

                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element);
                    }

                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if (!element.next("span")[0]) {
                        $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
                    }
                },
                success: function (label, element) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if (!$(element).next("span")[0]) {
                        $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parents(".div_input").addClass("has-error").removeClass("has-success");
                    $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".div_input").addClass("has-success").removeClass("has-error");
                    $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
                },
            });
        });

        function load_maps(id, w_map, h_map) {
            $(".list_maps li").removeClass("active");
            $("#maps" + id).addClass("active");

            $(".ext_maps").html('<div align="center"><img src="' + DIR_IMAGE + '/loading.gif" alt="Loadding ..." /><br>Loadding ...</div>');
            $.ajax({
                type: "GET",
                url: ROOT + "modules/contact/ajax/load_map.php",
                data: "id=" + id + "&w=" + w_map + "&h=" + h_map,
                success: function (html) {
                    $("#ext_maps").html(html);
                },
            });
            return false;
        }
    </script>

    <div class="part-form">
        <div class="wrapper">
            <div class="form-contact v2">
                <form id="formContact" name="formContact" method="POST" action="/vn/lien-he.html" class="form validate">
                    <div class="form-group">
                        <div class="textContact">
                            <p>Xin kính chào quý khách! Cảm ơn quý khách đã quan tâm đến <span>BOSTON PHARMA</span></p>

                            <p>Nếu quý khách có thắc mắc, ý kiến hay đóng góp xin vui lòng điền vào Form dưới đây và gửi cho chúng tôi.</p>

                            <p>Xin chân thành cảm ơn!</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control required" value="" title="Vui lòng nhập họ tên liên lạc" placeholder="Họ tên" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" id="phone" class="form-control required" value="" title="Vui lòng nhập điện thoại liên lạc" placeholder="Điện thoại" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" id="email" class="form-control required" value="" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="address" id="address" class="form-control required" value="" title="Vui lòng nhập địa chỉ" placeholder="Vui lòng ghi rõ địa chỉ số nhà, phường/xã, quận/huyện, tỉnh/thành phố,..." />
                    </div>
                    <div class="form-group">
                        <input type="text" name="subject" id="subject" class="form-control required" value="" title="Vui lòng nhập tiêu đề liên lạc" placeholder="Tiêu đề" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control required" id="content" name="content" rows="3" title="Vui lòng nhập nội dung liên lạc" placeholder="Nội dung liên lạc"></textarea>
                    </div>
                    <div class="form-group flexDesign">
                        <div class="flexLeft">
                            <div class="div-recaptcha">
                                <script src="https://www.google.com/recaptcha/api.js?hl=vi"></script>
                                <div class="g-recaptcha" data-sitekey="6LcmpK8UAAAAAEJnRIEIJ4qwRC_wPlpG7efHxvCm"></div>
                            </div>
                        </div>
                        <div class="flexRight">
                            <button name="do_submit" type="submit" value="Gửi"><span>Gửi</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="part-contact">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="info-contact">
                        <div class="title">VĂN PHÒNG ĐẠI DIỆN</div>

                        <div class="address">
                            <div class="name">Văn phòng đại diện tại TP Hồ Chí Minh</div>
                            <div class="be fa-home">41 Trần Hưng Đạo, Phường 6, Quận 5, Tp.HCM</div>
                            <div class="be fa-phone">Điện thoại: 028.3838.0606</div>
                            <div class="be fa-phone">Hotline: 19001910</div>
                            <div class="map">
                                <a href="/vn/lien-he.html/?idmap=4"><span>Xem bản đồ</span></a>
                            </div>
                        </div>

                        <div class="address">
                            <div class="name">Văn phòng đại diện tại Nha Trang</div>
                            <div class="be fa-home">29 Thái Thông, xã Vĩnh Thái, Tp.Nha Trang, tỉnh Khánh Hoà</div>
                            <div class="be fa-phone">Điện thoại: 02583890260</div>
                            <div class="be fa-phone hidden">Hotline:</div>
                            <div class="map">
                                <a href="/vn/lien-he.html/?idmap=6"><span>Xem bản đồ</span></a>
                            </div>
                        </div>

                        <div class="address">
                            <div class="name">Văn phòng đại diện tại Cần Thơ</div>
                            <div class="be fa-home">S3-4 đường số 10 Khu dân cư lô số 11C, khu đô thị Nam Cần Thơ, Phường Phú Thứ, Quận Cái Răng, TP Cần Thơ</div>
                            <div class="be fa-phone">Điện thoại: 029.2730.5959</div>
                            <div class="be fa-phone hidden">Hotline:</div>
                            <div class="map">
                                <a href="/vn/lien-he.html/?idmap=8"><span>Xem bản đồ</span></a>
                            </div>
                        </div>

                        <div class="address">
                            <div class="name">Văn phòng Đại diện tại Hà Nội</div>
                            <div class="be fa-home">192 Phố Đức Giang, Phường Đức Giang, Quận Long Biên, Tp. Hà Nội</div>
                            <div class="be fa-phone">Điện thoại: 043.212.77.84</div>
                            <div class="be fa-phone hidden">Hotline:</div>
                            <div class="map">
                                <a href="/vn/lien-he.html/?idmap=12"><span>Xem bản đồ</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="info-contact">
                        <div class="title">NHÀ MÁY BOSTON PHARMA</div>

                        <div class="address">
                            <div class="name hidden"></div>
                            <div class="be fa-home">Số 43, đường số 8, KCN Việt Nam - Singapore, P. Bình Hòa, TP. Thuận An, Tỉnh Bình Dương</div>
                            <div class="be fa-phone">Điện thoại: 0274 376 9606</div>
                            <div class="be fa-phone hidden">Hotline:</div>
                            <div class="map">
                                <a href="/vn/lien-he.html/?idmap=10"><span>Xem bản đồ</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="img"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
