<div id="vnt-content">
    <div class="vnt-main-top">
        <div class="vnt-slide">
            <div id="vnt-slide" class="slick-init">
                <div class="item">
                    <div class="img" style="background-image: url(vnt_upload/weblink/789.jpg);"></div>
                </div>
            </div>
            <div class="vnt-caption">
                <h2 class="fTitle"></h2>
            </div>
        </div>
        <div class="menuAbout">
            <div class="mc-menu hidden-lg hidden-md"></div>
            <ul>
                <li class="active"><a href="#flag1">Giới thiệu</a></li>

                <li class=""><a href="#flag2">Lịch sử hình thành</a></li>

                <li class=""><a href="#flag3">Ban lãnh đạo</a></li>

                <li class=""><a href="#flag4">Văn hóa công ty</a></li>

                <li class=""><a href="#flag5">Tiêu chuẩn</a></li>
            </ul>
        </div>
    </div>
    <div class="vnt-about">
        <div class="boxAbout" id="flag1">
            <div class="title">Giới thiệu</div>
            <div class="content">
                <div class="wrapper">
                    <div class="the-content desc mw-970">
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="ck-img"><img alt="gioi_thieu_NEW" src="http://bostonpharma.com.vn/vnt_upload/File/Image/gioi_thieu_NEW.jpg" /></div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <p>
                                        Từ những ngày đầu tiên được thành lập, <strong>BOSTON PHARMA được lấy tên là Công ty Cổ phần Dược Phẩm VITAR</strong> do Tổng công ty Dược Việt Nam (Đại diện là Công ty dược Trung ương I) và các Cổ
                                        đông cá nhân có kinh nghiệm thâm niên trong ngành Dược phẩm điều hành.
                                    </p>

                                    <p>
                                        Với những điểm chung về tầm nhìn, sứ mệnh chúng tôi đã quyết định <strong>hợp tác cùng với Boston Pharmaceutical Inc USA</strong> để cùng nhau cộng hưởng phát triển và hướng đến chăm sóc sức khỏe cho
                                        cộng đồng.
                                    </p>

                                    <p>Năm 2008, Công ty Cổ phần Dược phẩm Boston Việt Nam&nbsp;(gọi tắt là BOSTON PHARMA) chính thức đổi tên theo sự liên doanh và nhượng quyền từ Boston Hoa Kỳ.</p>
                                </div>
                            </div>
                        </div>

                        <div class="templateCircle">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="item">
                                        <div class="circle v1">
                                            <div class="t1">Tầm nhìn</div>

                                            <div class="text">Nghiên cứu và cải tiến chất lượng thuốc&nbsp;vì sức khỏe cộng đồng</div>
                                        </div>

                                        <div class="content">
                                            <p>Hướng đến trở thành biểu tượng <strong>hàng đầu về chất lượng Dược phẩm&nbsp;</strong>và là&nbsp;<strong>Top 10 nhà máy sản xuất thuốc</strong> Tân dược tốt nhất Việt Nam.</p>

                                            <p>Xây dựng môi trường học tập năng động, nghiên cứu sáng tạo cho thực tập sinh trong và ngoài nước. Kết hợp thực hiện các đề tài khoa học cấp quốc gia của các Giáo sư, Tiến Sỹ khoa học.</p>

                                            <p><strong>Nêu cao tiêu chí: </strong><em>Nơi nào cần sức khỏe nơi đó có Boston Pharma.</em></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="item">
                                        <div class="circle v2">
                                            <div class="t1">Sứ mệnh</div>

                                            <div class="text">Boston Pharma – Kiến tạo cộng đồng sống khỏe</div>
                                        </div>

                                        <div class="content">
                                            <p><strong>Boston Pharma khẳng định sứ mệnh nâng tầm sức khỏe cộng đồng</strong> thông qua các sản phẩm chất lượng cùng với mục tiêu tối ưu hóa chi phí điều trị</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="img">
                            <p class="text-center"><img alt="" src="vnt_upload/about/img2.png" /></p>
                        </div>
                    </div>
                </div>

                <div class="designHome" style="background-image: url(vnt_upload/about/bg1.jpg);">
                    <div class="wrapper">
                        <div class="img hidden-lg hidden-md"><img alt="" src="vnt_upload/about/bg1.jpg" /></div>

                        <div class="box">
                            <div class="item v1">
                                <div class="num"><span class="count">13</span></div>

                                <div class="text">năm thành lập</div>

                                <div class="des">Hình thành và phát triển không ngừng</div>
                            </div>

                            <div class="item v2">
                                <div class="num"><span class="count">184</span></div>

                                <div class="text">loại dược phẩm</div>

                                <div class="des">Chất lượng không thua kém hàng ngoại nhập</div>
                            </div>

                            <div class="item v3">
                                <div class="num">611</div>

                                <div class="text">nhân sự</div>

                                <div class="des">Nhân viên yêu nghề và có chuyên môn cao</div>
                            </div>

                            <div class="item v4">
                                <div class="num"><span class="count">1</span>&nbsp;TỶ</div>

                                <div class="text">đơn vị mỗi năm</div>

                                <div class="des">Công suất sản xuất ổn định và luôn tăng trưởng</div>
                            </div>

                            <div class="line_data">
                                <div class="line v1"><span>&nbsp;</span></div>

                                <div class="line v2"><span>&nbsp;</span></div>

                                <div class="line v3"><span>&nbsp;</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <iframe __idm_frm__="1958" class="ginger-extension-definitionpopup" style="display: none;"></iframe>
            </div>
        </div>

        <div class="boxAbout" id="flag2">
            <div class="title">Lịch sử hình thành</div>
            <div class="content">
                <div class="aboutHistory">
                    <div class="wrapper">
                        <div id="slideHistory" class="slick-init">
                            <div class="item">
                                <div class="history top">
                                    <div class="year"><span>11/</span><span>2007</span></div>
                                    <div class="caption"><div class="text">Thành lập với tên Công ty Dược phẩm VITAR</div></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="history top">
                                    <div class="year"><span>06/</span><span>2009</span></div>
                                    <div class="caption"><div class="text">Đạt Giấy Chứng nhận GMP, GLP, GSP-WHO</div></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="history bottom">
                                    <div class="year"><span>10/</span><span>2009</span></div>
                                    <div class="caption"><div class="text">Đạt chứng nhận VSATTP</div></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="history top">
                                    <div class="year"><span>2008</span></div>
                                    <div class="caption"><div class="text">Liên doanh với Boston Pharmaceutical Inc USA, chính thức đổi tên thành Công ty Cổ phần Dược phẩm Boston Việt Nam</div></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="history top">
                                    <div class="year"><span>07/</span><span>2018</span></div>
                                    <div class="caption"><div class="text">Đạt giấy chứng nhận &nbsp;GMP-WHO: Xưởng sản xuất Betalactam</div></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="history top">
                                    <div class="year"><span>09/</span><span>2019</span></div>
                                    <div class="caption"><div class="text">Cho ra mắt 5 sản phẩm Kháng sinh nhóm Cephalosporin</div></div>
                                </div>
                            </div>
                        </div>
                        <div id="slideHistoryFor" class="slick-init">
                            <div class="item">
                                <div class="caption"><div class="text">Thành lập với tên Công ty Dược phẩm VITAR</div></div>
                            </div>
                            <div class="item">
                                <div class="caption"><div class="text">Đạt Giấy Chứng nhận GMP, GLP, GSP-WHO</div></div>
                            </div>
                            <div class="item">
                                <div class="caption"><div class="text">Đạt chứng nhận VSATTP</div></div>
                            </div>
                            <div class="item">
                                <div class="caption"><div class="text">Liên doanh với Boston Pharmaceutical Inc USA, chính thức đổi tên thành Công ty Cổ phần Dược phẩm Boston Việt Nam</div></div>
                            </div>
                            <div class="item">
                                <div class="caption"><div class="text">Đạt giấy chứng nhận &nbsp;GMP-WHO: Xưởng sản xuất Betalactam</div></div>
                            </div>
                            <div class="item">
                                <div class="caption"><div class="text">Cho ra mắt 5 sản phẩm Kháng sinh nhóm Cephalosporin</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="boxAbout" id="flag3">
            <div class="title">Ban lãnh đạo</div>
            <div class="content">
                <div class="design-giamdoc">
                    <div class="wrapper">
                        <div class="grid">
                            <div class="col">
                                <div class="avatar">
                                    <a href="/vn/ve-chung-toi/popup.html/?do=staff_detail&aid=3&stid=1"><img src="vnt_upload/about/giamdoc.png" alt="Mr. LƯƠNG ĐĂNG KHOA" /></a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="info">
                                    <div class="name"><a href="/vn/ve-chung-toi/popup.html/?do=staff_detail&aid=3&stid=1">Mr. LƯƠNG ĐĂNG KHOA</a></div>
                                    <div class="job">Tổng giám đốc</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="caption">
                                    <div class="slogan">Nghiên cứu và cải tiến vì sức khỏe cộng đồng</div>
                                    <div class="text">
                                        Trong những năm qua, Boston Pharma – một trong những công ty Dược phẩm hàng đầu Việt Nam, đã và đang nỗ lực nghiên cứu không ngừng để cải tiến chất lượng thuốc vì sức khỏe cộng đồng.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="vnt-human">
                        <div class="grid">
                            <div class="col">
                                <div class="human">
                                    <div class="img">
                                        <a href="/vn/ve-chung-toi/popup.html/?do=staff_detail&aid=3&stid=3"><img src="vnt_upload/about/a2.png" alt="Mr. LÊ NGỌC TRÌNH" /></a>
                                    </div>
                                    <div class="caption">
                                        <div class="name">Mr. LÊ NGỌC TRÌNH</div>
                                        <div class="des">Phó Tổng Giám Đốc Nhân Sự Và Công Nghệ</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="human">
                                    <div class="img">
                                        <a href="/vn/ve-chung-toi/popup.html/?do=staff_detail&aid=3&stid=2"><img src="vnt_upload/about/Avatar_anh_Linh_04.jpg" alt="Mr. LÊ HỮU LĨNH" /></a>
                                    </div>
                                    <div class="caption">
                                        <div class="name">Mr. LÊ HỮU LĨNH</div>
                                        <div class="des">Giám Đốc Kinh Doanh Toàn Quốc</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="human">
                                    <div class="img">
                                        <a href="/vn/ve-chung-toi/popup.html/?do=staff_detail&aid=3&stid=4"><img src="vnt_upload/about/a3.png" alt="Mr. ĐẶNG MINH ĐỨC" /></a>
                                    </div>
                                    <div class="caption">
                                        <div class="name">Mr. ĐẶNG MINH ĐỨC</div>
                                        <div class="des">Phó Tổng Giám Đốc Sản Xuất</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="human">
                                    <div class="img">
                                        <a href="/vn/ve-chung-toi/popup.html/?do=staff_detail&aid=3&stid=5"><img src="vnt_upload/about/a4.png" alt="Mr. LƯƠNG TIẾN MINH" /></a>
                                    </div>
                                    <div class="caption">
                                        <div class="name">Mr. LƯƠNG TIẾN MINH</div>
                                        <div class="des">Phó Tổng Giám Đốc Kế Hoạch - Xuất Nhập Khẩu</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="human">
                                    <div class="img">
                                        <a href="/vn/ve-chung-toi/popup.html/?do=staff_detail&aid=3&stid=6"><img src="vnt_upload/about/a5.png" alt="Ms. TRỊNH THỊ THÚY LIỄU" /></a>
                                    </div>
                                    <div class="caption">
                                        <div class="name">Ms. TRỊNH THỊ THÚY LIỄU</div>
                                        <div class="des">Giám Đốc Tài Chính</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="boxAbout" id="flag4">
            <div class="title">Văn hóa công ty</div>
            <div class="content">
                <div id="slideCur" class="slick-init">
                    <div class="item">
                        <div class="grid">
                            <div class="col1">
                                <div class="img" style="background-image: url(vnt_upload/about/VAN_HOA_CONG_TY_1.jpg);"></div>
                            </div>
                            <div class="col2">
                                <div class="wrap">
                                    <div class="caption">
                                        <p>
                                            <span style="font-size: 24px;"><b>KHÁCH HÀNG</b></span>
                                        </p>

                                        <p><em>Chăm sóc sức khỏe cộng đồng là trách nhiệm của chúng tôi!</em></p>

                                        <p>
                                            Tập thể đội ngũ lãnh đạo và nhân viên của Boston Pharma cam kết luôn mang đến những sản phẩm thuốc, thực phẩm bảo vệ sức khỏe có chất lượng cao, giá cả hợp lý nhất cho người sử dụng. Vì chúng tôi
                                            biết rằng, sức khỏe cộng đồng là trung tâm phục vụ của mọi doanh nghiệp dược phẩm và chỉ có việc nâng cao sức khỏe cộng đồng mới làm nên giá trị của <strong>Boston Pharma.</strong>
                                        </p>

                                        <p>&nbsp;</p>

                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="grid">
                            <div class="col1">
                                <div class="img" style="background-image: url(vnt_upload/about/VAN_HOA_CONG_TY_2_1.jpg);"></div>
                            </div>
                            <div class="col2">
                                <div class="wrap">
                                    <div class="caption">
                                        <p>
                                            <span style="font-size: 24px;"><b>MÔI TRƯỜNG LÀM VIỆC THÂN THIỆN</b></span>
                                        </p>

                                        <p>
                                            Boston pharma hiểu rằng mọi nhân viên đều mong muốn nơi làm việc thật vui vẻ, mọi người luôn giúp đỡ lẫn nhau. Do vậy Ban Lãnh đạo công ty luôn dành sự quan tâm lớn đến đội ngũ cán bộ, công nhân
                                            lao động trong công ty.
                                        </p>

                                        <p>
                                            Hằng năm công ty thường xuyên tổ chức các chương trình gắn kết tập thể, các chương trình vui chơi và được sự tham gia hết sức nhiệt tình của toàn thể công nhân viên như: Teambuilding, Giải bóng đá
                                            Nam – Nữ tổ chức định kỳ hằng năm; Chương trình Happy Hour được diễn ra hằng tháng tổ chức cho những nhân viên có sinh nhật trong tháng; Chương trình Tân niên/Tất niên,...
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="grid">
                            <div class="col1">
                                <div class="img" style="background-image: url(vnt_upload/about/VAN_HOA_CONG_TY_3.jpg);"></div>
                            </div>
                            <div class="col2">
                                <div class="wrap">
                                    <div class="caption">
                                        <p>
                                            <span style="font-size: 24px;"><strong>QUẢN TRỊ VÀ ĐIỀU HÀNH</strong></span>
                                        </p>

                                        <p>
                                            <em>Rõ ràng và minh bạch trong quản lý</em> - Là một doanh nghiệp hoạt động minh bạch, chúng tôi luôn thấu hiểu, đề cao và thực hiện có hiệu quả việc chia sẻ thẳng thắn, công khai về:&nbsp;cơ cấu
                                            tổ chức; tài chính nội bộ; đánh giá nhân viên theo đúng năng lực và công khai kết quả đánh giá; rõ ràng và thống nhất trong cơ chế khen thưởng, xử phạt; trao đổi cởi mở, thẳng thắn&nbsp;giữa quản
                                            lý và nhân viên; nhân viên có quyền đưa ra các ý kiến đóng góp…
                                        </p>

                                        <p>
                                            <em>Công bằng trong&nbsp;điều hành</em>&nbsp;- Với phương châm “Làm theo năng lực, thưởng theo thành tích” chúng tôi luôn phân công, bố trí nhân viên làm việc theo đúng năng lực mà họ đang có và
                                            thưởng cho nhân viên xứng đáng với thành tích mà họ đạt được.
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="boxAbout" id="flag5">
            <div class="title">Tiêu chuẩn</div>
            <div class="content">
                <div class="wrapper">
                    <div class="inventAbout">
                        <div class="des">Boston Pharma chuyên sản xuất và phân phối Dược phẩm, Thực phẩm Bảo vệ sức khỏe ưu tiên chất lượng hàng đầu thông qua việc đảm bảo nghiêm ngặt các Tiêu chí:</div>

                        <div class="img">
                            <div class="grid">
                                <div class="col">
                                    <a href=""><img alt="" src="vnt_upload/about/p1.jpg" /></a>
                                </div>

                                <div class="col">
                                    <a href=""><img alt="" src="vnt_upload/about/p2.jpg" /></a>
                                </div>

                                <div class="col">
                                    <a href=""><img alt="" src="vnt_upload/about/p3.jpg" /></a>
                                </div>

                                <div class="col">
                                    <a href=""><img alt="" src="vnt_upload/about/p4.jpg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
