<div id="vnt-wrapper">
    <div id="vnt-container">
        {{> vnt-header}}
        {{#if isTrangchu}}
        {{> vnt-trangchu}}             
        {{/if}}
        {{#if isVechungtoi}}
        {{> vnt-vechungtoi}}             
        {{/if}}  
        {{#if isNhamay}}
        {{> vnt-nhamay}}             
        {{/if}}  
        {{#if isSanpham}}
        {{> vnt-sanpham}}             
        {{/if}}  
        {{#if isDoitac}}
        {{> vnt-doitac}}             
        {{/if}}  
        {{#if isTintuc}}
        {{> vnt-tintuc}}             
        {{/if}}  
        {{#if isTuyendung}}
        {{> vnt-tuyendung}}             
        {{/if}}  
        {{#if isLienhe}}
        {{> vnt-lienhe}}             
        {{/if}}  
        {{> vnt-footer}}
    </div>
</div>
